body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:816px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u984 {
  position:absolute;
  left:115px;
  top:11px;
  width:90px;
  height:25px;
}
#u984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u985 {
  position:absolute;
  left:15px;
  top:11px;
  width:90px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
.u987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u986-9 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-10 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-11 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-12 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-13 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-14 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u986-15 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u986 {
  position:absolute;
  left:15px;
  top:109px;
  width:800px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u989 {
  position:absolute;
  left:9px;
  top:257px;
  width:626px;
  height:85px;
  font-size:16px;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u991 {
  position:absolute;
  left:637px;
  top:141px;
  width:59px;
  height:27px;
}
#u992 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  position:absolute;
  left:15px;
  top:46px;
  width:801px;
  height:53px;
}
#u994 {
  position:absolute;
  left:2px;
  top:18px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:74px;
  top:59px;
  width:121px;
  height:25px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u996 {
  position:absolute;
  left:35px;
  top:64px;
  width:64px;
  height:16px;
  color:#1E1E1E;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:271px;
  top:59px;
  width:121px;
  height:25px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:224px;
  top:63px;
  width:43px;
  height:16px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
