body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:816px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u2325 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2323-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u2323-9 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-10 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-11 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-12 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-13 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-14 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323-15 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u2323 {
  position:absolute;
  left:15px;
  top:102px;
  width:800px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2326 {
  position:absolute;
  left:15px;
  top:197px;
  width:626px;
  height:85px;
  font-size:16px;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u2328 {
  position:absolute;
  left:637px;
  top:134px;
  width:59px;
  height:27px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2330 {
  position:absolute;
  left:15px;
  top:10px;
  width:801px;
  height:53px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:18px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332 {
  position:absolute;
  left:266px;
  top:23px;
  width:121px;
  height:25px;
}
#u2332_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2333 {
  position:absolute;
  left:230px;
  top:27px;
  width:64px;
  height:16px;
  color:#1E1E1E;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u2335 {
  position:absolute;
  left:463px;
  top:23px;
  width:121px;
  height:25px;
}
#u2335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2336 {
  position:absolute;
  left:414px;
  top:27px;
  width:56px;
  height:16px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2338 {
  position:absolute;
  left:26px;
  top:27px;
  width:72px;
  height:16px;
  color:#1E1E1E;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u2340 {
  position:absolute;
  left:89px;
  top:23px;
  width:121px;
  height:25px;
}
#u2340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2341 {
  position:absolute;
  left:15px;
  top:71px;
  width:90px;
  height:25px;
}
#u2341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2342 {
  position:absolute;
  left:603px;
  top:23px;
  width:90px;
  height:25px;
}
#u2342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
