body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10199 {
  position:absolute;
  left:10px;
  top:88px;
  width:1000px;
  height:93px;
}
#u10200 {
  position:absolute;
  left:2px;
  top:38px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10202 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u10203 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10201-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-9 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201-10 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
}
#u10201 {
  position:absolute;
  left:10px;
  top:88px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10204 {
  position:absolute;
  left:10px;
  top:14px;
  width:584px;
  height:38px;
}
#u10205 {
  position:absolute;
  left:2px;
  top:11px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10206 {
  position:absolute;
  left:499px;
  top:19px;
  width:90px;
  height:25px;
}
#u10206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10208 {
  position:absolute;
  left:265px;
  top:24px;
  width:71px;
  height:15px;
}
#u10209 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10210 {
  position:absolute;
  left:336px;
  top:20px;
  width:161px;
  height:22px;
}
#u10210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10210_input:disabled {
  color:grayText;
}
#u10211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10211 {
  position:absolute;
  left:17px;
  top:23px;
  width:103px;
  height:16px;
}
#u10212 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u10213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u10213 {
  position:absolute;
  left:24px;
  top:95px;
  width:15px;
  height:16px;
}
#u10214 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u10215 {
  position:absolute;
  left:1010px;
  top:91px;
  width:59px;
  height:27px;
}
#u10216 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10217 {
  position:absolute;
  left:10px;
  top:57px;
  width:90px;
  height:25px;
}
#u10217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10218 {
  position:absolute;
  left:102px;
  top:57px;
  width:90px;
  height:25px;
}
#u10218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10219 {
  position:absolute;
  left:118px;
  top:20px;
  width:140px;
  height:22px;
}
#u10219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u10219_input:disabled {
  color:grayText;
}
