body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10134 {
  position:absolute;
  left:10px;
  top:88px;
  width:1000px;
  height:93px;
}
#u10135 {
  position:absolute;
  left:2px;
  top:38px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
.u10137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u10137 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u10138 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10136-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-9 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136-10 {
  position:absolute;
  left:900px;
  top:0px;
  width:100px;
  height:30px;
}
#u10136 {
  position:absolute;
  left:10px;
  top:88px;
  width:1000px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u10139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10139 {
  position:absolute;
  left:10px;
  top:14px;
  width:582px;
  height:38px;
}
#u10140 {
  position:absolute;
  left:2px;
  top:11px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10141 {
  position:absolute;
  left:494px;
  top:19px;
  width:90px;
  height:25px;
}
#u10141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10143 {
  position:absolute;
  left:252px;
  top:24px;
  width:71px;
  height:15px;
}
#u10144 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10145 {
  position:absolute;
  left:323px;
  top:20px;
  width:161px;
  height:22px;
}
#u10145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10145_input:disabled {
  color:grayText;
}
#u10146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10146 {
  position:absolute;
  left:17px;
  top:23px;
  width:71px;
  height:16px;
}
#u10147 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u10148 {
  position:absolute;
  left:24px;
  top:95px;
  width:15px;
  height:16px;
}
#u10149 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u10150 {
  position:absolute;
  left:914px;
  top:90px;
  width:59px;
  height:27px;
}
#u10151 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10152 {
  position:absolute;
  left:10px;
  top:57px;
  width:90px;
  height:25px;
}
#u10152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10153 {
  position:absolute;
  left:102px;
  top:57px;
  width:90px;
  height:25px;
}
#u10153_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10154 {
  position:absolute;
  left:88px;
  top:20px;
  width:140px;
  height:22px;
}
#u10154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u10154_input:disabled {
  color:grayText;
}
