body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38 {
  position:absolute;
  left:0px;
  top:-32px;
  width:1416px;
  height:2521px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
}
#u41 {
  position:absolute;
  left:100px;
  top:0px;
  width:140px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:52px;
}
#u43 {
  position:absolute;
  left:240px;
  top:0px;
  width:82px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:52px;
}
#u45 {
  position:absolute;
  left:322px;
  top:0px;
  width:93px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:89px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:52px;
}
#u47 {
  position:absolute;
  left:415px;
  top:0px;
  width:795px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:791px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:52px;
}
#u49 {
  position:absolute;
  left:1210px;
  top:0px;
  width:201px;
  height:52px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u51 {
  position:absolute;
  left:0px;
  top:52px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u52 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u53 {
  position:absolute;
  left:100px;
  top:52px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u54 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u55 {
  position:absolute;
  left:240px;
  top:52px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u56 {
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u57 {
  position:absolute;
  left:322px;
  top:52px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u59 {
  position:absolute;
  left:415px;
  top:52px;
  width:795px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u60 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u61 {
  position:absolute;
  left:1210px;
  top:52px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:115px;
}
#u63 {
  position:absolute;
  left:0px;
  top:100px;
  width:100px;
  height:115px;
  font-size:18px;
  text-align:center;
}
#u64 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:115px;
}
#u65 {
  position:absolute;
  left:100px;
  top:100px;
  width:140px;
  height:115px;
  font-size:18px;
  text-align:center;
}
#u66 {
  position:absolute;
  left:2px;
  top:46px;
  width:136px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:115px;
}
#u67 {
  position:absolute;
  left:240px;
  top:100px;
  width:82px;
  height:115px;
  font-size:18px;
  text-align:center;
}
#u68 {
  position:absolute;
  left:2px;
  top:46px;
  width:78px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:115px;
}
#u69 {
  position:absolute;
  left:322px;
  top:100px;
  width:93px;
  height:115px;
  font-size:18px;
  text-align:center;
}
#u70 {
  position:absolute;
  left:2px;
  top:46px;
  width:89px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:115px;
}
#u71 {
  position:absolute;
  left:415px;
  top:100px;
  width:795px;
  height:115px;
  font-size:16px;
  text-align:left;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:791px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:115px;
}
#u73 {
  position:absolute;
  left:1210px;
  top:100px;
  width:201px;
  height:115px;
  font-size:18px;
  text-align:left;
}
#u74 {
  position:absolute;
  left:2px;
  top:50px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:98px;
}
#u75 {
  position:absolute;
  left:0px;
  top:215px;
  width:100px;
  height:98px;
  font-size:18px;
  text-align:center;
}
#u76 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:98px;
}
#u77 {
  position:absolute;
  left:100px;
  top:215px;
  width:140px;
  height:98px;
  font-size:18px;
  text-align:center;
}
#u78 {
  position:absolute;
  left:2px;
  top:41px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:98px;
}
#u79 {
  position:absolute;
  left:240px;
  top:215px;
  width:82px;
  height:98px;
  font-size:18px;
  text-align:center;
}
#u80 {
  position:absolute;
  left:2px;
  top:41px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:98px;
}
#u81 {
  position:absolute;
  left:322px;
  top:215px;
  width:93px;
  height:98px;
  font-size:18px;
  text-align:center;
}
#u82 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:98px;
}
#u83 {
  position:absolute;
  left:415px;
  top:215px;
  width:795px;
  height:98px;
  font-size:16px;
  text-align:left;
}
#u84 {
  position:absolute;
  left:2px;
  top:11px;
  width:791px;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:98px;
}
#u85 {
  position:absolute;
  left:1210px;
  top:215px;
  width:201px;
  height:98px;
  font-size:18px;
  text-align:left;
}
#u86 {
  position:absolute;
  left:2px;
  top:41px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:87px;
}
#u87 {
  position:absolute;
  left:0px;
  top:313px;
  width:100px;
  height:87px;
  font-size:18px;
  text-align:center;
}
#u88 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:87px;
}
#u89 {
  position:absolute;
  left:100px;
  top:313px;
  width:140px;
  height:87px;
  font-size:18px;
  text-align:center;
}
#u90 {
  position:absolute;
  left:2px;
  top:36px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:87px;
}
#u91 {
  position:absolute;
  left:240px;
  top:313px;
  width:82px;
  height:87px;
  font-size:18px;
  text-align:center;
}
#u92 {
  position:absolute;
  left:2px;
  top:36px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:87px;
}
#u93 {
  position:absolute;
  left:322px;
  top:313px;
  width:93px;
  height:87px;
  font-size:18px;
  text-align:center;
}
#u94 {
  position:absolute;
  left:2px;
  top:32px;
  width:89px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:87px;
}
#u95 {
  position:absolute;
  left:415px;
  top:313px;
  width:795px;
  height:87px;
  font-size:16px;
  text-align:left;
}
#u96 {
  position:absolute;
  left:2px;
  top:15px;
  width:791px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:87px;
}
#u97 {
  position:absolute;
  left:1210px;
  top:313px;
  width:201px;
  height:87px;
  font-size:18px;
  text-align:left;
}
#u98 {
  position:absolute;
  left:2px;
  top:36px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:105px;
}
#u99 {
  position:absolute;
  left:0px;
  top:400px;
  width:100px;
  height:105px;
  font-size:18px;
  text-align:center;
}
#u100 {
  position:absolute;
  left:2px;
  top:44px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:105px;
}
#u101 {
  position:absolute;
  left:100px;
  top:400px;
  width:140px;
  height:105px;
  font-size:18px;
  text-align:center;
}
#u102 {
  position:absolute;
  left:2px;
  top:44px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:105px;
}
#u103 {
  position:absolute;
  left:240px;
  top:400px;
  width:82px;
  height:105px;
  font-size:18px;
  text-align:center;
}
#u104 {
  position:absolute;
  left:2px;
  top:44px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:105px;
}
#u105 {
  position:absolute;
  left:322px;
  top:400px;
  width:93px;
  height:105px;
  font-size:18px;
  text-align:center;
}
#u106 {
  position:absolute;
  left:2px;
  top:42px;
  width:89px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:105px;
}
#u107 {
  position:absolute;
  left:415px;
  top:400px;
  width:795px;
  height:105px;
  font-size:16px;
  text-align:left;
}
#u108 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:105px;
}
#u109 {
  position:absolute;
  left:1210px;
  top:400px;
  width:201px;
  height:105px;
  font-size:18px;
  text-align:left;
}
#u110 {
  position:absolute;
  left:2px;
  top:44px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u111 {
  position:absolute;
  left:0px;
  top:505px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u113 {
  position:absolute;
  left:100px;
  top:505px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u114 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u115 {
  position:absolute;
  left:240px;
  top:505px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u116 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u117 {
  position:absolute;
  left:322px;
  top:505px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u118 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u119 {
  position:absolute;
  left:415px;
  top:505px;
  width:795px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u120 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u121 {
  position:absolute;
  left:1210px;
  top:505px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u122 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u123 {
  position:absolute;
  left:0px;
  top:553px;
  width:100px;
  height:65px;
  font-size:18px;
  text-align:center;
}
#u124 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:65px;
}
#u125 {
  position:absolute;
  left:100px;
  top:553px;
  width:140px;
  height:65px;
  font-size:18px;
  text-align:center;
}
#u126 {
  position:absolute;
  left:2px;
  top:24px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:65px;
}
#u127 {
  position:absolute;
  left:240px;
  top:553px;
  width:82px;
  height:65px;
  font-size:18px;
  text-align:center;
}
#u128 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:65px;
}
#u129 {
  position:absolute;
  left:322px;
  top:553px;
  width:93px;
  height:65px;
  font-size:18px;
  text-align:center;
}
#u130 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:65px;
}
#u131 {
  position:absolute;
  left:415px;
  top:553px;
  width:795px;
  height:65px;
  font-size:16px;
  text-align:left;
}
#u132 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:65px;
}
#u133 {
  position:absolute;
  left:1210px;
  top:553px;
  width:201px;
  height:65px;
  font-size:18px;
  text-align:left;
}
#u134 {
  position:absolute;
  left:2px;
  top:24px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:256px;
}
#u135 {
  position:absolute;
  left:0px;
  top:618px;
  width:100px;
  height:256px;
  font-size:18px;
  text-align:center;
}
#u136 {
  position:absolute;
  left:2px;
  top:120px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:256px;
}
#u137 {
  position:absolute;
  left:100px;
  top:618px;
  width:140px;
  height:256px;
  font-size:18px;
  text-align:center;
}
#u138 {
  position:absolute;
  left:2px;
  top:120px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:256px;
}
#u139 {
  position:absolute;
  left:240px;
  top:618px;
  width:82px;
  height:256px;
  font-size:18px;
  text-align:center;
}
#u140 {
  position:absolute;
  left:2px;
  top:120px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:256px;
}
#u141 {
  position:absolute;
  left:322px;
  top:618px;
  width:93px;
  height:256px;
  font-size:18px;
  text-align:center;
}
#u142 {
  position:absolute;
  left:2px;
  top:117px;
  width:89px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:256px;
}
#u143 {
  position:absolute;
  left:415px;
  top:618px;
  width:795px;
  height:256px;
  font-size:16px;
  text-align:left;
}
#u144 {
  position:absolute;
  left:2px;
  top:24px;
  width:791px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:256px;
}
#u145 {
  position:absolute;
  left:1210px;
  top:618px;
  width:201px;
  height:256px;
  font-size:18px;
  text-align:left;
}
#u146 {
  position:absolute;
  left:2px;
  top:120px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:122px;
}
#u147 {
  position:absolute;
  left:0px;
  top:874px;
  width:100px;
  height:122px;
  font-size:18px;
  text-align:center;
}
#u148 {
  position:absolute;
  left:2px;
  top:53px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:122px;
}
#u149 {
  position:absolute;
  left:100px;
  top:874px;
  width:140px;
  height:122px;
  font-size:18px;
  text-align:center;
}
#u150 {
  position:absolute;
  left:2px;
  top:53px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:122px;
}
#u151 {
  position:absolute;
  left:240px;
  top:874px;
  width:82px;
  height:122px;
  font-size:18px;
  text-align:center;
}
#u152 {
  position:absolute;
  left:2px;
  top:53px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:122px;
}
#u153 {
  position:absolute;
  left:322px;
  top:874px;
  width:93px;
  height:122px;
  font-size:18px;
  text-align:center;
}
#u154 {
  position:absolute;
  left:2px;
  top:50px;
  width:89px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:122px;
}
#u155 {
  position:absolute;
  left:415px;
  top:874px;
  width:795px;
  height:122px;
  font-size:16px;
  text-align:left;
}
#u156 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:122px;
}
#u157 {
  position:absolute;
  left:1210px;
  top:874px;
  width:201px;
  height:122px;
  font-size:18px;
  text-align:left;
}
#u158 {
  position:absolute;
  left:2px;
  top:53px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u159 {
  position:absolute;
  left:0px;
  top:996px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u160 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u161 {
  position:absolute;
  left:100px;
  top:996px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u162 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u163 {
  position:absolute;
  left:240px;
  top:996px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u164 {
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u165 {
  position:absolute;
  left:322px;
  top:996px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u166 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u167 {
  position:absolute;
  left:415px;
  top:996px;
  width:795px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u168 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u169 {
  position:absolute;
  left:1210px;
  top:996px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u170 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:66px;
}
#u171 {
  position:absolute;
  left:0px;
  top:1044px;
  width:100px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u172 {
  position:absolute;
  left:2px;
  top:25px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:66px;
}
#u173 {
  position:absolute;
  left:100px;
  top:1044px;
  width:140px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u174 {
  position:absolute;
  left:2px;
  top:25px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:66px;
}
#u175 {
  position:absolute;
  left:240px;
  top:1044px;
  width:82px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u176 {
  position:absolute;
  left:2px;
  top:25px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:66px;
}
#u177 {
  position:absolute;
  left:322px;
  top:1044px;
  width:93px;
  height:66px;
  font-size:18px;
  text-align:center;
}
#u178 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:66px;
}
#u179 {
  position:absolute;
  left:415px;
  top:1044px;
  width:795px;
  height:66px;
  font-size:16px;
  text-align:left;
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:66px;
}
#u181 {
  position:absolute;
  left:1210px;
  top:1044px;
  width:201px;
  height:66px;
  font-size:18px;
  text-align:left;
}
#u182 {
  position:absolute;
  left:2px;
  top:25px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u183 {
  position:absolute;
  left:0px;
  top:1110px;
  width:100px;
  height:80px;
  font-size:18px;
  text-align:center;
}
#u184 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:80px;
}
#u185 {
  position:absolute;
  left:100px;
  top:1110px;
  width:140px;
  height:80px;
  font-size:18px;
  text-align:center;
}
#u186 {
  position:absolute;
  left:2px;
  top:32px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:80px;
}
#u187 {
  position:absolute;
  left:240px;
  top:1110px;
  width:82px;
  height:80px;
  font-size:18px;
  text-align:center;
}
#u188 {
  position:absolute;
  left:2px;
  top:32px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:80px;
}
#u189 {
  position:absolute;
  left:322px;
  top:1110px;
  width:93px;
  height:80px;
  font-size:18px;
  text-align:center;
}
#u190 {
  position:absolute;
  left:2px;
  top:29px;
  width:89px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:80px;
}
#u191 {
  position:absolute;
  left:415px;
  top:1110px;
  width:795px;
  height:80px;
  font-size:16px;
  text-align:left;
}
#u192 {
  position:absolute;
  left:2px;
  top:12px;
  width:791px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:80px;
}
#u193 {
  position:absolute;
  left:1210px;
  top:1110px;
  width:201px;
  height:80px;
  font-size:18px;
  text-align:left;
}
#u194 {
  position:absolute;
  left:2px;
  top:32px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u195 {
  position:absolute;
  left:0px;
  top:1190px;
  width:100px;
  height:59px;
  font-size:18px;
  text-align:center;
}
#u196 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:59px;
}
#u197 {
  position:absolute;
  left:100px;
  top:1190px;
  width:140px;
  height:59px;
  font-size:18px;
  text-align:center;
}
#u198 {
  position:absolute;
  left:2px;
  top:22px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:59px;
}
#u199 {
  position:absolute;
  left:240px;
  top:1190px;
  width:82px;
  height:59px;
  font-size:18px;
  text-align:center;
}
#u200 {
  position:absolute;
  left:2px;
  top:22px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:59px;
}
#u201 {
  position:absolute;
  left:322px;
  top:1190px;
  width:93px;
  height:59px;
  font-size:18px;
  text-align:center;
}
#u202 {
  position:absolute;
  left:2px;
  top:18px;
  width:89px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:59px;
}
#u203 {
  position:absolute;
  left:415px;
  top:1190px;
  width:795px;
  height:59px;
  font-size:16px;
  text-align:left;
}
#u204 {
  position:absolute;
  left:2px;
  top:10px;
  width:791px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:59px;
}
#u205 {
  position:absolute;
  left:1210px;
  top:1190px;
  width:201px;
  height:59px;
  font-size:18px;
  text-align:left;
}
#u206 {
  position:absolute;
  left:2px;
  top:22px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u207 {
  position:absolute;
  left:0px;
  top:1249px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u208 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u209 {
  position:absolute;
  left:100px;
  top:1249px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u210 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u211 {
  position:absolute;
  left:240px;
  top:1249px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u212 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u213 {
  position:absolute;
  left:322px;
  top:1249px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u214 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u215 {
  position:absolute;
  left:415px;
  top:1249px;
  width:795px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u216 {
  position:absolute;
  left:2px;
  top:2px;
  width:791px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u217 {
  position:absolute;
  left:1210px;
  top:1249px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u218 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u219 {
  position:absolute;
  left:0px;
  top:1297px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u220 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u221 {
  position:absolute;
  left:100px;
  top:1297px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u222 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u223 {
  position:absolute;
  left:240px;
  top:1297px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u224 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u225 {
  position:absolute;
  left:322px;
  top:1297px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u226 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u227 {
  position:absolute;
  left:415px;
  top:1297px;
  width:795px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u228 {
  position:absolute;
  left:2px;
  top:13px;
  width:791px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u229 {
  position:absolute;
  left:1210px;
  top:1297px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u230 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
}
#u231 {
  position:absolute;
  left:0px;
  top:1345px;
  width:100px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u232 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u233 {
  position:absolute;
  left:100px;
  top:1345px;
  width:140px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u234 {
  position:absolute;
  left:2px;
  top:16px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:48px;
}
#u235 {
  position:absolute;
  left:240px;
  top:1345px;
  width:82px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u236 {
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:48px;
}
#u237 {
  position:absolute;
  left:322px;
  top:1345px;
  width:93px;
  height:48px;
  font-size:18px;
  text-align:center;
}
#u238 {
  position:absolute;
  left:2px;
  top:13px;
  width:89px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:48px;
}
#u239 {
  position:absolute;
  left:415px;
  top:1345px;
  width:795px;
  height:48px;
  text-align:left;
}
#u240 {
  position:absolute;
  left:2px;
  top:13px;
  width:791px;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:48px;
}
#u241 {
  position:absolute;
  left:1210px;
  top:1345px;
  width:201px;
  height:48px;
  font-size:18px;
  text-align:left;
}
#u242 {
  position:absolute;
  left:2px;
  top:16px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:340px;
}
#u243 {
  position:absolute;
  left:0px;
  top:1393px;
  width:100px;
  height:340px;
  font-size:18px;
  text-align:center;
}
#u244 {
  position:absolute;
  left:2px;
  top:162px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:340px;
}
#u245 {
  position:absolute;
  left:100px;
  top:1393px;
  width:140px;
  height:340px;
  font-size:18px;
  text-align:center;
}
#u246 {
  position:absolute;
  left:2px;
  top:162px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:340px;
}
#u247 {
  position:absolute;
  left:240px;
  top:1393px;
  width:82px;
  height:340px;
  font-size:18px;
  text-align:center;
}
#u248 {
  position:absolute;
  left:2px;
  top:159px;
  width:78px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:340px;
}
#u249 {
  position:absolute;
  left:322px;
  top:1393px;
  width:93px;
  height:340px;
  font-size:18px;
  text-align:center;
}
#u250 {
  position:absolute;
  left:2px;
  top:159px;
  width:89px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:340px;
}
#u251 {
  position:absolute;
  left:415px;
  top:1393px;
  width:795px;
  height:340px;
  text-align:left;
}
#u252 {
  position:absolute;
  left:2px;
  top:2px;
  width:791px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:340px;
}
#u253 {
  position:absolute;
  left:1210px;
  top:1393px;
  width:201px;
  height:340px;
  font-size:18px;
  text-align:left;
}
#u254 {
  position:absolute;
  left:2px;
  top:162px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u255 {
  position:absolute;
  left:0px;
  top:1733px;
  width:100px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u256 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
}
#u257 {
  position:absolute;
  left:100px;
  top:1733px;
  width:140px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u258 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:53px;
}
#u259 {
  position:absolute;
  left:240px;
  top:1733px;
  width:82px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u260 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:53px;
}
#u261 {
  position:absolute;
  left:322px;
  top:1733px;
  width:93px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u262 {
  position:absolute;
  left:2px;
  top:16px;
  width:89px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:53px;
}
#u263 {
  position:absolute;
  left:415px;
  top:1733px;
  width:795px;
  height:53px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u264 {
  position:absolute;
  left:2px;
  top:17px;
  width:791px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:53px;
}
#u265 {
  position:absolute;
  left:1210px;
  top:1733px;
  width:201px;
  height:53px;
  font-size:18px;
  text-align:left;
}
#u266 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
}
#u267 {
  position:absolute;
  left:0px;
  top:1786px;
  width:100px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u268 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:53px;
}
#u269 {
  position:absolute;
  left:100px;
  top:1786px;
  width:140px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u270 {
  position:absolute;
  left:2px;
  top:18px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:53px;
}
#u271 {
  position:absolute;
  left:240px;
  top:1786px;
  width:82px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u272 {
  position:absolute;
  left:2px;
  top:16px;
  width:78px;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:53px;
}
#u273 {
  position:absolute;
  left:322px;
  top:1786px;
  width:93px;
  height:53px;
  font-size:18px;
  text-align:center;
}
#u274 {
  position:absolute;
  left:2px;
  top:16px;
  width:89px;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:53px;
}
#u275 {
  position:absolute;
  left:415px;
  top:1786px;
  width:795px;
  height:53px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u276 {
  position:absolute;
  left:2px;
  top:8px;
  width:791px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:53px;
}
#u277 {
  position:absolute;
  left:1210px;
  top:1786px;
  width:201px;
  height:53px;
  font-size:18px;
  text-align:left;
}
#u278 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:578px;
}
#u279 {
  position:absolute;
  left:0px;
  top:1839px;
  width:100px;
  height:578px;
  font-size:18px;
  text-align:center;
}
#u280 {
  position:absolute;
  left:2px;
  top:281px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:578px;
}
#u281 {
  position:absolute;
  left:100px;
  top:1839px;
  width:140px;
  height:578px;
  font-size:18px;
  text-align:center;
}
#u282 {
  position:absolute;
  left:2px;
  top:281px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:578px;
}
#u283 {
  position:absolute;
  left:240px;
  top:1839px;
  width:82px;
  height:578px;
  font-size:18px;
  text-align:center;
}
#u284 {
  position:absolute;
  left:2px;
  top:278px;
  width:78px;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:578px;
}
#u285 {
  position:absolute;
  left:322px;
  top:1839px;
  width:93px;
  height:578px;
  font-size:18px;
  text-align:center;
}
#u286 {
  position:absolute;
  left:2px;
  top:278px;
  width:89px;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:578px;
}
#u287 {
  position:absolute;
  left:415px;
  top:1839px;
  width:795px;
  height:578px;
  font-size:16px;
  text-align:left;
}
#u288 {
  position:absolute;
  left:2px;
  top:14px;
  width:791px;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:578px;
}
#u289 {
  position:absolute;
  left:1210px;
  top:1839px;
  width:201px;
  height:578px;
  font-size:18px;
  text-align:left;
}
#u290 {
  position:absolute;
  left:2px;
  top:281px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:99px;
}
#u291 {
  position:absolute;
  left:0px;
  top:2417px;
  width:100px;
  height:99px;
  font-size:18px;
  text-align:center;
}
#u292 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:99px;
}
#u293 {
  position:absolute;
  left:100px;
  top:2417px;
  width:140px;
  height:99px;
  font-size:18px;
  text-align:center;
}
#u294 {
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:99px;
}
#u295 {
  position:absolute;
  left:240px;
  top:2417px;
  width:82px;
  height:99px;
  font-size:18px;
  text-align:center;
}
#u296 {
  position:absolute;
  left:2px;
  top:38px;
  width:78px;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:99px;
}
#u297 {
  position:absolute;
  left:322px;
  top:2417px;
  width:93px;
  height:99px;
  font-size:18px;
  text-align:center;
}
#u298 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:795px;
  height:99px;
}
#u299 {
  position:absolute;
  left:415px;
  top:2417px;
  width:795px;
  height:99px;
  font-size:16px;
  text-align:left;
}
#u300 {
  position:absolute;
  left:2px;
  top:2px;
  width:791px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:99px;
}
#u301 {
  position:absolute;
  left:1210px;
  top:2417px;
  width:201px;
  height:99px;
  font-size:18px;
  text-align:left;
}
#u302 {
  position:absolute;
  left:2px;
  top:42px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
