body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:167px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8978 {
  position:absolute;
  left:10px;
  top:111px;
  width:900px;
  height:167px;
}
#u8979 {
  position:absolute;
  left:2px;
  top:76px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8980 {
  position:absolute;
  left:10px;
  top:7px;
  width:590px;
  height:68px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:26px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8982 {
  position:absolute;
  left:18px;
  top:20px;
  width:71px;
  height:15px;
}
#u8983 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8984 {
  position:absolute;
  left:88px;
  top:15px;
  width:140px;
  height:22px;
}
#u8984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8984_input:disabled {
  color:grayText;
}
#u8985 {
  position:absolute;
  left:277px;
  top:15px;
  width:140px;
  height:22px;
}
#u8985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8985_input:disabled {
  color:grayText;
}
#u8986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8986 {
  position:absolute;
  left:238px;
  top:18px;
  width:29px;
  height:16px;
}
#u8987 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8988 {
  position:absolute;
  left:31px;
  top:51px;
  width:57px;
  height:15px;
}
#u8989 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8990 {
  position:absolute;
  left:88px;
  top:46px;
  width:140px;
  height:22px;
}
#u8990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8990_input:disabled {
  color:grayText;
}
.u8992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8992 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u8993 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991-9 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u8991 {
  position:absolute;
  left:10px;
  top:112px;
  width:900px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u8994 {
  position:absolute;
  left:24px;
  top:119px;
  width:15px;
  height:16px;
}
#u8995 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8996 {
  position:absolute;
  left:10px;
  top:297px;
  width:800px;
  height:144px;
}
#u8997 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u8998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8998 {
  position:absolute;
  left:11px;
  top:260px;
  width:190px;
  height:19px;
}
#u8999 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u9000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9000 {
  position:absolute;
  left:238px;
  top:48px;
  width:57px;
  height:15px;
}
#u9001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9002 {
  position:absolute;
  left:290px;
  top:44px;
  width:127px;
  height:22px;
}
#u9002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9002_input:disabled {
  color:grayText;
}
#u9003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9003 {
  position:absolute;
  left:446px;
  top:18px;
  width:72px;
  height:15px;
}
#u9004 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u9005 {
  position:absolute;
  left:522px;
  top:15px;
  width:66px;
  height:22px;
}
#u9005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9005_input:disabled {
  color:grayText;
}
#u9006 {
  position:absolute;
  left:446px;
  top:47px;
  width:90px;
  height:25px;
}
#u9006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9007 {
  position:absolute;
  left:113px;
  top:81px;
  width:90px;
  height:25px;
}
#u9007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9008 {
  position:absolute;
  left:213px;
  top:81px;
  width:90px;
  height:25px;
}
#u9008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9009 {
  position:absolute;
  left:10px;
  top:81px;
  width:90px;
  height:25px;
}
#u9009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
