body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4454 {
  position:absolute;
  left:235px;
  top:14px;
  width:503px;
  height:276px;
}
#u4455 {
  position:absolute;
  left:2px;
  top:130px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4456 {
  position:absolute;
  left:5px;
  top:13px;
  width:227px;
  height:277px;
}
#u4457 {
  position:absolute;
  left:2px;
  top:130px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4458 {
  position:absolute;
  left:10px;
  top:37px;
  width:216px;
  height:197px;
}
#u4458_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:197px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4459 {
  position:absolute;
  left:13px;
  top:19px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4460 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4461 {
  position:absolute;
  left:23px;
  top:257px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4462 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  word-wrap:break-word;
}
#u4463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4463 {
  position:absolute;
  left:77px;
  top:257px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4464 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u4465 {
  position:absolute;
  left:185px;
  top:255px;
  width:26px;
  height:28px;
}
#u4466 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4467 {
  position:absolute;
  left:131px;
  top:257px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0099FF;
}
#u4468 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u4469 {
  position:absolute;
  left:81px;
  top:260px;
  width:14px;
  height:18px;
}
#u4470 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4471 {
  position:absolute;
  left:137px;
  top:261px;
  width:9px;
  height:16px;
}
#u4472 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4473 {
  position:absolute;
  left:239px;
  top:38px;
  width:492px;
  height:138px;
}
#u4474 {
  position:absolute;
  left:2px;
  top:61px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4475 {
  position:absolute;
  left:251px;
  top:82px;
  width:471px;
  height:84px;
}
#u4476 {
  position:absolute;
  left:2px;
  top:34px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4477 {
  position:absolute;
  left:256px;
  top:92px;
  width:68px;
  height:25px;
}
#u4477_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4478 {
  position:absolute;
  left:470px;
  top:92px;
  width:68px;
  height:25px;
}
#u4478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4479 {
  position:absolute;
  left:257px;
  top:128px;
  width:52px;
  height:25px;
}
#u4479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4480 {
  position:absolute;
  left:325px;
  top:128px;
  width:345px;
  height:25px;
}
#u4480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FFCC33;
  text-align:left;
}
#u4481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4481 {
  position:absolute;
  left:241px;
  top:19px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4482 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4483 {
  position:absolute;
  left:324px;
  top:92px;
  width:130px;
  height:25px;
}
#u4483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-color:#FFCC66;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4484 {
  position:absolute;
  left:538px;
  top:92px;
  width:130px;
  height:25px;
}
#u4484_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  background-color:#FFCC66;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u4486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4486 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u4487 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4485-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u4485 {
  position:absolute;
  left:238px;
  top:204px;
  width:600px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4488 {
  position:absolute;
  left:10px;
  top:317px;
  width:865px;
  height:145px;
  font-size:16px;
}
#u4489 {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  white-space:nowrap;
}
#u4490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u4490 {
  position:absolute;
  left:748px;
  top:205px;
  width:59px;
  height:27px;
}
#u4491 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4492 {
  position:absolute;
  left:351px;
  top:47px;
  width:90px;
  height:25px;
}
#u4492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4493 {
  position:absolute;
  left:251px;
  top:47px;
  width:90px;
  height:25px;
}
#u4493_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4494 {
  position:absolute;
  left:451px;
  top:47px;
  width:90px;
  height:25px;
}
#u4494_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
}
#u4495 {
  position:absolute;
  left:145px;
  top:454px;
  width:106px;
  height:24px;
}
#u4496 {
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
