body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1700 {
  position:absolute;
  left:770px;
  top:207px;
  width:140px;
  height:25px;
}
#u1700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:162px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1701 {
  position:absolute;
  left:10px;
  top:35px;
  width:900px;
  height:162px;
}
#u1702 {
  position:absolute;
  left:2px;
  top:73px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1703 {
  position:absolute;
  left:10px;
  top:16px;
  width:169px;
  height:16px;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
.u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u1707 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705-9 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u1705 {
  position:absolute;
  left:10px;
  top:35px;
  width:900px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1708 {
  position:absolute;
  left:223px;
  top:7px;
  width:153px;
  height:25px;
}
#u1708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1709 {
  position:absolute;
  left:386px;
  top:7px;
  width:140px;
  height:25px;
}
#u1709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1710 {
  position:absolute;
  left:10px;
  top:219px;
  width:141px;
  height:109px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
