body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:19px;
  top:30px;
  width:372px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1872 {
  position:absolute;
  left:89px;
  top:56px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:447px;
  top:56px;
  width:113px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1876 {
  position:absolute;
  left:774px;
  top:56px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:404px;
}
#u1878 {
  position:absolute;
  left:696px;
  top:79px;
  width:383px;
  height:404px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:194px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:388px;
}
#u1880 {
  position:absolute;
  left:348px;
  top:78px;
  width:338px;
  height:388px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:186px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:388px;
}
#u1882 {
  position:absolute;
  left:7px;
  top:78px;
  width:341px;
  height:388px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:186px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
