body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8568 {
  position:absolute;
  left:10px;
  top:10px;
  width:688px;
  height:136px;
}
#u8568_input {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:136px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8569 {
  position:absolute;
  left:18px;
  top:21px;
  width:64px;
  height:25px;
}
#u8569_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8570 {
  position:absolute;
  left:231px;
  top:21px;
  width:61px;
  height:25px;
}
#u8570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8571 {
  position:absolute;
  left:19px;
  top:56px;
  width:64px;
  height:25px;
}
#u8571_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8572 {
  position:absolute;
  left:87px;
  top:21px;
  width:119px;
  height:25px;
}
#u8572_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8573 {
  position:absolute;
  left:86px;
  top:56px;
  width:120px;
  height:25px;
}
#u8573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8574 {
  position:absolute;
  left:19px;
  top:87px;
  width:100px;
  height:25px;
}
#u8574_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8575 {
  position:absolute;
  left:86px;
  top:86px;
  width:525px;
  height:25px;
}
#u8575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8576 {
  position:absolute;
  left:409px;
  top:21px;
  width:61px;
  height:25px;
}
#u8576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8577 {
  position:absolute;
  left:472px;
  top:21px;
  width:139px;
  height:25px;
}
#u8577_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8578 {
  position:absolute;
  left:231px;
  top:56px;
  width:61px;
  height:25px;
}
#u8578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8579 {
  position:absolute;
  left:295px;
  top:57px;
  width:101px;
  height:25px;
}
#u8579_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8580 {
  position:absolute;
  left:295px;
  top:21px;
  width:95px;
  height:22px;
}
#u8580_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u8580_input:disabled {
  color:grayText;
}
#u8581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8581 {
  position:absolute;
  left:10px;
  top:175px;
  width:746px;
  height:200px;
  font-size:16px;
}
#u8582 {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  word-wrap:break-word;
}
#u8583 {
  position:absolute;
  left:418px;
  top:121px;
  width:90px;
  height:25px;
}
#u8583_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8584 {
  position:absolute;
  left:518px;
  top:121px;
  width:90px;
  height:25px;
}
#u8584_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8585 {
  position:absolute;
  left:406px;
  top:56px;
  width:61px;
  height:25px;
}
#u8585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8586 {
  position:absolute;
  left:472px;
  top:57px;
  width:139px;
  height:25px;
}
#u8586_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
