body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8817 {
  position:absolute;
  left:10px;
  top:10px;
  width:618px;
  height:136px;
}
#u8817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:136px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8818 {
  position:absolute;
  left:50px;
  top:21px;
  width:47px;
  height:25px;
}
#u8818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8819 {
  position:absolute;
  left:232px;
  top:21px;
  width:76px;
  height:25px;
}
#u8819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8820 {
  position:absolute;
  left:36px;
  top:56px;
  width:64px;
  height:25px;
}
#u8820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8821 {
  position:absolute;
  left:87px;
  top:21px;
  width:119px;
  height:25px;
}
#u8821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8822 {
  position:absolute;
  left:86px;
  top:56px;
  width:120px;
  height:25px;
}
#u8822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u8823 {
  position:absolute;
  left:48px;
  top:87px;
  width:74px;
  height:25px;
}
#u8823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8824 {
  position:absolute;
  left:86px;
  top:86px;
  width:525px;
  height:25px;
}
#u8824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8825 {
  position:absolute;
  left:409px;
  top:21px;
  width:70px;
  height:25px;
}
#u8825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8826 {
  position:absolute;
  left:472px;
  top:21px;
  width:139px;
  height:25px;
}
#u8826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8827 {
  position:absolute;
  left:232px;
  top:56px;
  width:71px;
  height:25px;
}
#u8827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8828 {
  position:absolute;
  left:295px;
  top:57px;
  width:101px;
  height:25px;
}
#u8828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8829 {
  position:absolute;
  left:295px;
  top:21px;
  width:95px;
  height:22px;
}
#u8829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u8829_input:disabled {
  color:grayText;
}
#u8830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8830 {
  position:absolute;
  left:10px;
  top:175px;
  width:746px;
  height:200px;
  font-size:16px;
}
#u8831 {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  word-wrap:break-word;
}
#u8832 {
  position:absolute;
  left:418px;
  top:121px;
  width:90px;
  height:25px;
}
#u8832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8833 {
  position:absolute;
  left:518px;
  top:121px;
  width:90px;
  height:25px;
}
#u8833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8834 {
  position:absolute;
  left:408px;
  top:56px;
  width:73px;
  height:25px;
}
#u8834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8835 {
  position:absolute;
  left:472px;
  top:57px;
  width:139px;
  height:25px;
}
#u8835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
