body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:756px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5761 {
  position:absolute;
  left:10px;
  top:10px;
  width:688px;
  height:136px;
}
#u5761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:136px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5762 {
  position:absolute;
  left:18px;
  top:21px;
  width:64px;
  height:25px;
}
#u5762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5763 {
  position:absolute;
  left:231px;
  top:21px;
  width:61px;
  height:25px;
}
#u5763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5764 {
  position:absolute;
  left:19px;
  top:56px;
  width:64px;
  height:25px;
}
#u5764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5765 {
  position:absolute;
  left:87px;
  top:21px;
  width:119px;
  height:25px;
}
#u5765_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5766 {
  position:absolute;
  left:86px;
  top:56px;
  width:120px;
  height:25px;
}
#u5766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u5767 {
  position:absolute;
  left:19px;
  top:87px;
  width:100px;
  height:25px;
}
#u5767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5768 {
  position:absolute;
  left:86px;
  top:86px;
  width:525px;
  height:25px;
}
#u5768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5769 {
  position:absolute;
  left:409px;
  top:21px;
  width:61px;
  height:25px;
}
#u5769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5770 {
  position:absolute;
  left:472px;
  top:21px;
  width:139px;
  height:25px;
}
#u5770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5771 {
  position:absolute;
  left:231px;
  top:56px;
  width:61px;
  height:25px;
}
#u5771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5772 {
  position:absolute;
  left:295px;
  top:57px;
  width:101px;
  height:25px;
}
#u5772_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5773 {
  position:absolute;
  left:295px;
  top:21px;
  width:95px;
  height:22px;
}
#u5773_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u5773_input:disabled {
  color:grayText;
}
#u5774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5774 {
  position:absolute;
  left:10px;
  top:175px;
  width:746px;
  height:200px;
  font-size:16px;
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:746px;
  word-wrap:break-word;
}
#u5776 {
  position:absolute;
  left:418px;
  top:121px;
  width:90px;
  height:25px;
}
#u5776_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5777 {
  position:absolute;
  left:518px;
  top:121px;
  width:90px;
  height:25px;
}
#u5777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u5778 {
  position:absolute;
  left:406px;
  top:56px;
  width:61px;
  height:25px;
}
#u5778_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5779 {
  position:absolute;
  left:472px;
  top:57px;
  width:139px;
  height:25px;
}
#u5779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
