body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:537px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5067 {
  position:absolute;
  left:8px;
  top:7px;
  width:449px;
  height:74px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5069 {
  position:absolute;
  left:12px;
  top:68px;
  width:101px;
  height:15px;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5071 {
  position:absolute;
  left:107px;
  top:65px;
  width:182px;
  height:22px;
}
#u5071_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5071_input:disabled {
  color:grayText;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5072 {
  position:absolute;
  left:302px;
  top:67px;
  width:43px;
  height:15px;
}
#u5073 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5074 {
  position:absolute;
  left:341px;
  top:64px;
  width:89px;
  height:22px;
}
#u5074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5074_input:disabled {
  color:grayText;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5075 {
  position:absolute;
  left:12px;
  top:101px;
  width:101px;
  height:15px;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5077 {
  position:absolute;
  left:107px;
  top:98px;
  width:182px;
  height:22px;
}
#u5077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5077_input:disabled {
  color:grayText;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5078 {
  position:absolute;
  left:302px;
  top:100px;
  width:43px;
  height:15px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5080 {
  position:absolute;
  left:341px;
  top:97px;
  width:89px;
  height:22px;
}
#u5080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5080_input:disabled {
  color:grayText;
}
#u5081 {
  position:absolute;
  left:440px;
  top:100px;
  width:97px;
  height:16px;
}
#u5082 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u5081_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5083 {
  position:absolute;
  left:126px;
  top:131px;
  width:29px;
  height:25px;
}
#u5083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5084 {
  position:absolute;
  left:10px;
  top:135px;
  width:112px;
  height:16px;
  color:#000000;
}
#u5085 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5086 {
  position:absolute;
  left:155px;
  top:135px;
  width:14px;
  height:16px;
  color:#000000;
}
#u5087 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u5088 {
  position:absolute;
  left:126px;
  top:166px;
  width:29px;
  height:25px;
}
#u5088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5089 {
  position:absolute;
  left:10px;
  top:170px;
  width:122px;
  height:16px;
  color:#000000;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5091 {
  position:absolute;
  left:155px;
  top:170px;
  width:14px;
  height:16px;
  color:#000000;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u5093 {
  position:absolute;
  left:126px;
  top:201px;
  width:29px;
  height:25px;
}
#u5093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5094 {
  position:absolute;
  left:10px;
  top:205px;
  width:122px;
  height:16px;
  color:#000000;
}
#u5095 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5096 {
  position:absolute;
  left:155px;
  top:205px;
  width:14px;
  height:16px;
  color:#000000;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
