body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4137 {
  position:absolute;
  left:12px;
  top:12px;
  width:575px;
  height:16px;
}
#u4138 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4139 {
  position:absolute;
  left:587px;
  top:0px;
  width:66px;
  height:40px;
  font-size:14px;
}
#u4140 {
  position:absolute;
  left:2px;
  top:12px;
  width:62px;
  word-wrap:break-word;
}
