body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9559 {
  position:absolute;
  left:8px;
  top:110px;
  width:1000px;
  height:259px;
  color:#0000FF;
}
#u9560 {
  position:absolute;
  left:2px;
  top:122px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9561 {
  position:absolute;
  left:10px;
  top:9px;
  width:517px;
  height:68px;
}
#u9562 {
  position:absolute;
  left:2px;
  top:26px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9563 {
  position:absolute;
  left:427px;
  top:45px;
  width:90px;
  height:25px;
}
#u9563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9564 {
  position:absolute;
  left:18px;
  top:22px;
  width:71px;
  height:15px;
}
#u9565 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9566 {
  position:absolute;
  left:88px;
  top:17px;
  width:140px;
  height:22px;
}
#u9566_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9566_input:disabled {
  color:grayText;
}
#u9567 {
  position:absolute;
  left:277px;
  top:17px;
  width:140px;
  height:22px;
}
#u9567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9567_input:disabled {
  color:grayText;
}
#u9568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9568 {
  position:absolute;
  left:238px;
  top:20px;
  width:29px;
  height:16px;
}
#u9569 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u9571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9571 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9572 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9570-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9570-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9570-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9570-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9570-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u9570-6 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:30px;
}
#u9570-7 {
  position:absolute;
  left:100px;
  top:31px;
  width:100px;
  height:30px;
}
#u9570-8 {
  position:absolute;
  left:200px;
  top:31px;
  width:100px;
  height:30px;
}
#u9570-9 {
  position:absolute;
  left:300px;
  top:31px;
  width:100px;
  height:30px;
}
#u9570-10 {
  position:absolute;
  left:400px;
  top:31px;
  width:100px;
  height:30px;
}
#u9570-11 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:30px;
}
#u9570-12 {
  position:absolute;
  left:100px;
  top:62px;
  width:100px;
  height:30px;
}
#u9570-13 {
  position:absolute;
  left:200px;
  top:62px;
  width:100px;
  height:30px;
}
#u9570-14 {
  position:absolute;
  left:300px;
  top:62px;
  width:100px;
  height:30px;
}
#u9570-15 {
  position:absolute;
  left:400px;
  top:62px;
  width:100px;
  height:30px;
}
#u9570-16 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
}
#u9570-17 {
  position:absolute;
  left:100px;
  top:93px;
  width:100px;
  height:30px;
}
#u9570-18 {
  position:absolute;
  left:200px;
  top:93px;
  width:100px;
  height:30px;
}
#u9570-19 {
  position:absolute;
  left:300px;
  top:93px;
  width:100px;
  height:30px;
}
#u9570-20 {
  position:absolute;
  left:400px;
  top:93px;
  width:100px;
  height:30px;
}
#u9570-21 {
  position:absolute;
  left:0px;
  top:124px;
  width:100px;
  height:30px;
}
#u9570-22 {
  position:absolute;
  left:100px;
  top:124px;
  width:100px;
  height:30px;
}
#u9570-23 {
  position:absolute;
  left:200px;
  top:124px;
  width:100px;
  height:30px;
}
#u9570 {
  position:absolute;
  left:10px;
  top:141px;
  width:504px;
  height:158px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
}
#u9570_ann {
  position:absolute;
  left:503px;
  top:137px;
  width:1px;
  height:1px;
}
#u9573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9573 {
  position:absolute;
  left:32px;
  top:52px;
  width:57px;
  height:15px;
}
#u9574 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9575 {
  position:absolute;
  left:91px;
  top:48px;
  width:135px;
  height:22px;
}
#u9575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9575_input:disabled {
  color:grayText;
}
#u9576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9576 {
  position:absolute;
  left:236px;
  top:52px;
  width:43px;
  height:16px;
}
#u9577 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9578 {
  position:absolute;
  left:280px;
  top:47px;
  width:137px;
  height:22px;
}
#u9578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9578_input:disabled {
  color:grayText;
}
#u9579 {
  position:absolute;
  left:10px;
  top:113px;
  width:3108px;
  height:35px;
}
#u9580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
}
#u9580 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9581 {
  position:absolute;
  left:2px;
  top:7px;
  width:498px;
  word-wrap:break-word;
}
#u9582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u9582 {
  position:absolute;
  left:502px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9583 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u9584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u9584 {
  position:absolute;
  left:804px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9585 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u9586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u9586 {
  position:absolute;
  left:1099px;
  top:0px;
  width:298px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9587 {
  position:absolute;
  left:2px;
  top:7px;
  width:294px;
  word-wrap:break-word;
}
#u9588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u9588 {
  position:absolute;
  left:1397px;
  top:0px;
  width:403px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9589 {
  position:absolute;
  left:2px;
  top:7px;
  width:399px;
  word-wrap:break-word;
}
#u9590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u9590 {
  position:absolute;
  left:1800px;
  top:0px;
  width:304px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9591 {
  position:absolute;
  left:2px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u9592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u9592 {
  position:absolute;
  left:2104px;
  top:0px;
  width:397px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9593 {
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  word-wrap:break-word;
}
#u9594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9594 {
  position:absolute;
  left:2501px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9595 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u9596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u9596 {
  position:absolute;
  left:2701px;
  top:0px;
  width:402px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9597 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
.u9599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9599 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9600 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9598-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9598-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9598-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9598 {
  position:absolute;
  left:510px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9598_ann {
  position:absolute;
  left:803px;
  top:139px;
  width:1px;
  height:1px;
}
.u9602_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9602 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9603 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9601-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9601-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9601-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9601 {
  position:absolute;
  left:810px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9601_ann {
  position:absolute;
  left:1103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9605 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9606 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9604-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9604-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9604-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9604 {
  position:absolute;
  left:1109px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9604_ann {
  position:absolute;
  left:1402px;
  top:139px;
  width:1px;
  height:1px;
}
.u9608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9608 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9609 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9607-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9607-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9607-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9607-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9607 {
  position:absolute;
  left:1409px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9607_ann {
  position:absolute;
  left:1802px;
  top:139px;
  width:1px;
  height:1px;
}
.u9611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9611 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9612 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9610-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9610-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9610-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9610-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9610 {
  position:absolute;
  left:2109px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9610_ann {
  position:absolute;
  left:2502px;
  top:139px;
  width:1px;
  height:1px;
}
.u9614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9614 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9615 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9613-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9613-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9613 {
  position:absolute;
  left:2510px;
  top:143px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9613_ann {
  position:absolute;
  left:2703px;
  top:139px;
  width:1px;
  height:1px;
}
.u9617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9617 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9618 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9616-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9616-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9616-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9616-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9616 {
  position:absolute;
  left:2710px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9616_ann {
  position:absolute;
  left:3103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9620 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9621 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9619-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9619-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9619-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9619 {
  position:absolute;
  left:1809px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9619_ann {
  position:absolute;
  left:2102px;
  top:139px;
  width:1px;
  height:1px;
}
#u9622 {
  position:absolute;
  left:15px;
  top:341px;
  width:1833px;
  height:25px;
}
#u9622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1833px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9623 {
  position:absolute;
  left:11px;
  top:81px;
  width:90px;
  height:25px;
}
#u9623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
