body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9692 {
  position:absolute;
  left:8px;
  top:110px;
  width:1000px;
  height:259px;
  color:#0000FF;
}
#u9693 {
  position:absolute;
  left:2px;
  top:122px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9694 {
  position:absolute;
  left:10px;
  top:9px;
  width:517px;
  height:68px;
}
#u9695 {
  position:absolute;
  left:2px;
  top:26px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9696 {
  position:absolute;
  left:427px;
  top:45px;
  width:90px;
  height:25px;
}
#u9696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9697 {
  position:absolute;
  left:18px;
  top:22px;
  width:71px;
  height:15px;
}
#u9698 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9699 {
  position:absolute;
  left:88px;
  top:17px;
  width:140px;
  height:22px;
}
#u9699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9699_input:disabled {
  color:grayText;
}
#u9700 {
  position:absolute;
  left:277px;
  top:17px;
  width:140px;
  height:22px;
}
#u9700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9700_input:disabled {
  color:grayText;
}
#u9701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9701 {
  position:absolute;
  left:238px;
  top:20px;
  width:29px;
  height:16px;
}
#u9702 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u9704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9704 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9705 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9703-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9703-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9703-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9703-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u9703-6 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:30px;
}
#u9703-7 {
  position:absolute;
  left:100px;
  top:31px;
  width:100px;
  height:30px;
}
#u9703-8 {
  position:absolute;
  left:200px;
  top:31px;
  width:100px;
  height:30px;
}
#u9703-9 {
  position:absolute;
  left:300px;
  top:31px;
  width:100px;
  height:30px;
}
#u9703-10 {
  position:absolute;
  left:400px;
  top:31px;
  width:100px;
  height:30px;
}
#u9703-11 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:30px;
}
#u9703-12 {
  position:absolute;
  left:100px;
  top:62px;
  width:100px;
  height:30px;
}
#u9703-13 {
  position:absolute;
  left:200px;
  top:62px;
  width:100px;
  height:30px;
}
#u9703-14 {
  position:absolute;
  left:300px;
  top:62px;
  width:100px;
  height:30px;
}
#u9703-15 {
  position:absolute;
  left:400px;
  top:62px;
  width:100px;
  height:30px;
}
#u9703-16 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
}
#u9703-17 {
  position:absolute;
  left:100px;
  top:93px;
  width:100px;
  height:30px;
}
#u9703-18 {
  position:absolute;
  left:200px;
  top:93px;
  width:100px;
  height:30px;
}
#u9703-19 {
  position:absolute;
  left:300px;
  top:93px;
  width:100px;
  height:30px;
}
#u9703-20 {
  position:absolute;
  left:400px;
  top:93px;
  width:100px;
  height:30px;
}
#u9703-21 {
  position:absolute;
  left:0px;
  top:124px;
  width:100px;
  height:30px;
}
#u9703-22 {
  position:absolute;
  left:100px;
  top:124px;
  width:100px;
  height:30px;
}
#u9703-23 {
  position:absolute;
  left:200px;
  top:124px;
  width:100px;
  height:30px;
}
#u9703 {
  position:absolute;
  left:10px;
  top:141px;
  width:504px;
  height:158px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
}
#u9703_ann {
  position:absolute;
  left:503px;
  top:137px;
  width:1px;
  height:1px;
}
#u9706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9706 {
  position:absolute;
  left:32px;
  top:52px;
  width:57px;
  height:15px;
}
#u9707 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9708 {
  position:absolute;
  left:91px;
  top:48px;
  width:135px;
  height:22px;
}
#u9708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9708_input:disabled {
  color:grayText;
}
#u9709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9709 {
  position:absolute;
  left:236px;
  top:52px;
  width:43px;
  height:16px;
}
#u9710 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9711 {
  position:absolute;
  left:280px;
  top:47px;
  width:137px;
  height:22px;
}
#u9711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9711_input:disabled {
  color:grayText;
}
#u9712 {
  position:absolute;
  left:10px;
  top:113px;
  width:3108px;
  height:35px;
}
#u9713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
}
#u9713 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9714 {
  position:absolute;
  left:2px;
  top:7px;
  width:498px;
  word-wrap:break-word;
}
#u9715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u9715 {
  position:absolute;
  left:502px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9716 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u9717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u9717 {
  position:absolute;
  left:804px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9718 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u9719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u9719 {
  position:absolute;
  left:1099px;
  top:0px;
  width:298px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9720 {
  position:absolute;
  left:2px;
  top:7px;
  width:294px;
  word-wrap:break-word;
}
#u9721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u9721 {
  position:absolute;
  left:1397px;
  top:0px;
  width:403px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9722 {
  position:absolute;
  left:2px;
  top:7px;
  width:399px;
  word-wrap:break-word;
}
#u9723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u9723 {
  position:absolute;
  left:1800px;
  top:0px;
  width:304px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9724 {
  position:absolute;
  left:2px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u9725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u9725 {
  position:absolute;
  left:2104px;
  top:0px;
  width:397px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9726 {
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  word-wrap:break-word;
}
#u9727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9727 {
  position:absolute;
  left:2501px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9728 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u9729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u9729 {
  position:absolute;
  left:2701px;
  top:0px;
  width:402px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9730 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
.u9732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9732 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9733 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9731-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9731-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9731-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9731 {
  position:absolute;
  left:510px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9731_ann {
  position:absolute;
  left:803px;
  top:139px;
  width:1px;
  height:1px;
}
.u9735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9735 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9736 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9734-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9734-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9734-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9734 {
  position:absolute;
  left:810px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9734_ann {
  position:absolute;
  left:1103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9738 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9739 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9737-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9737-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9737-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9737 {
  position:absolute;
  left:1109px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9737_ann {
  position:absolute;
  left:1402px;
  top:139px;
  width:1px;
  height:1px;
}
.u9741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9741 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9742 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9740-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9740-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9740-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9740-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9740 {
  position:absolute;
  left:1409px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9740_ann {
  position:absolute;
  left:1802px;
  top:139px;
  width:1px;
  height:1px;
}
.u9744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9744 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9745 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9743-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9743-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9743-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9743-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9743 {
  position:absolute;
  left:2109px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9743_ann {
  position:absolute;
  left:2502px;
  top:139px;
  width:1px;
  height:1px;
}
.u9747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9747 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9748 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9746-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9746-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9746 {
  position:absolute;
  left:2510px;
  top:143px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9746_ann {
  position:absolute;
  left:2703px;
  top:139px;
  width:1px;
  height:1px;
}
.u9750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9750 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9751 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9749-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9749-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9749-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9749-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9749 {
  position:absolute;
  left:2710px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9749_ann {
  position:absolute;
  left:3103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9753 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9754 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9752-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9752-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9752-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9752 {
  position:absolute;
  left:1809px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9752_ann {
  position:absolute;
  left:2102px;
  top:139px;
  width:1px;
  height:1px;
}
#u9755 {
  position:absolute;
  left:15px;
  top:341px;
  width:1833px;
  height:25px;
}
#u9755_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1833px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9756 {
  position:absolute;
  left:11px;
  top:81px;
  width:90px;
  height:25px;
}
#u9756_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
