body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3113px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:259px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u9743 {
  position:absolute;
  left:8px;
  top:110px;
  width:1000px;
  height:259px;
  color:#0000FF;
}
#u9744 {
  position:absolute;
  left:2px;
  top:122px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9745 {
  position:absolute;
  left:10px;
  top:9px;
  width:517px;
  height:68px;
}
#u9746 {
  position:absolute;
  left:2px;
  top:26px;
  width:513px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9747 {
  position:absolute;
  left:427px;
  top:45px;
  width:90px;
  height:25px;
}
#u9747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9748 {
  position:absolute;
  left:18px;
  top:22px;
  width:71px;
  height:15px;
}
#u9749 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9750 {
  position:absolute;
  left:88px;
  top:17px;
  width:140px;
  height:22px;
}
#u9750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9750_input:disabled {
  color:grayText;
}
#u9751 {
  position:absolute;
  left:277px;
  top:17px;
  width:140px;
  height:22px;
}
#u9751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9751_input:disabled {
  color:grayText;
}
#u9752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9752 {
  position:absolute;
  left:238px;
  top:20px;
  width:29px;
  height:16px;
}
#u9753 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u9755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9755 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9756 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9754-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9754-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9754-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9754-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9754-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u9754-6 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:30px;
}
#u9754-7 {
  position:absolute;
  left:100px;
  top:31px;
  width:100px;
  height:30px;
}
#u9754-8 {
  position:absolute;
  left:200px;
  top:31px;
  width:100px;
  height:30px;
}
#u9754-9 {
  position:absolute;
  left:300px;
  top:31px;
  width:100px;
  height:30px;
}
#u9754-10 {
  position:absolute;
  left:400px;
  top:31px;
  width:100px;
  height:30px;
}
#u9754-11 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:30px;
}
#u9754-12 {
  position:absolute;
  left:100px;
  top:62px;
  width:100px;
  height:30px;
}
#u9754-13 {
  position:absolute;
  left:200px;
  top:62px;
  width:100px;
  height:30px;
}
#u9754-14 {
  position:absolute;
  left:300px;
  top:62px;
  width:100px;
  height:30px;
}
#u9754-15 {
  position:absolute;
  left:400px;
  top:62px;
  width:100px;
  height:30px;
}
#u9754-16 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
}
#u9754-17 {
  position:absolute;
  left:100px;
  top:93px;
  width:100px;
  height:30px;
}
#u9754-18 {
  position:absolute;
  left:200px;
  top:93px;
  width:100px;
  height:30px;
}
#u9754-19 {
  position:absolute;
  left:300px;
  top:93px;
  width:100px;
  height:30px;
}
#u9754-20 {
  position:absolute;
  left:400px;
  top:93px;
  width:100px;
  height:30px;
}
#u9754-21 {
  position:absolute;
  left:0px;
  top:124px;
  width:100px;
  height:30px;
}
#u9754-22 {
  position:absolute;
  left:100px;
  top:124px;
  width:100px;
  height:30px;
}
#u9754-23 {
  position:absolute;
  left:200px;
  top:124px;
  width:100px;
  height:30px;
}
#u9754 {
  position:absolute;
  left:10px;
  top:141px;
  width:504px;
  height:158px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
}
#u9754_ann {
  position:absolute;
  left:503px;
  top:137px;
  width:1px;
  height:1px;
}
#u9757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9757 {
  position:absolute;
  left:32px;
  top:52px;
  width:57px;
  height:15px;
}
#u9758 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9759 {
  position:absolute;
  left:91px;
  top:48px;
  width:135px;
  height:22px;
}
#u9759_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9759_input:disabled {
  color:grayText;
}
#u9760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9760 {
  position:absolute;
  left:236px;
  top:52px;
  width:43px;
  height:16px;
}
#u9761 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9762 {
  position:absolute;
  left:280px;
  top:47px;
  width:137px;
  height:22px;
}
#u9762_input {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9762_input:disabled {
  color:grayText;
}
#u9763 {
  position:absolute;
  left:10px;
  top:113px;
  width:3108px;
  height:35px;
}
#u9764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
}
#u9764 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9765 {
  position:absolute;
  left:2px;
  top:7px;
  width:498px;
  word-wrap:break-word;
}
#u9766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u9766 {
  position:absolute;
  left:502px;
  top:0px;
  width:302px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9767 {
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u9768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u9768 {
  position:absolute;
  left:804px;
  top:0px;
  width:295px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9769 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u9770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:30px;
}
#u9770 {
  position:absolute;
  left:1099px;
  top:0px;
  width:298px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9771 {
  position:absolute;
  left:2px;
  top:7px;
  width:294px;
  word-wrap:break-word;
}
#u9772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:30px;
}
#u9772 {
  position:absolute;
  left:1397px;
  top:0px;
  width:403px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9773 {
  position:absolute;
  left:2px;
  top:7px;
  width:399px;
  word-wrap:break-word;
}
#u9774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u9774 {
  position:absolute;
  left:1800px;
  top:0px;
  width:304px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9775 {
  position:absolute;
  left:2px;
  top:7px;
  width:300px;
  word-wrap:break-word;
}
#u9776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u9776 {
  position:absolute;
  left:2104px;
  top:0px;
  width:397px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9777 {
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  word-wrap:break-word;
}
#u9778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9778 {
  position:absolute;
  left:2501px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9779 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u9780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:30px;
}
#u9780 {
  position:absolute;
  left:2701px;
  top:0px;
  width:402px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9781 {
  position:absolute;
  left:2px;
  top:7px;
  width:398px;
  word-wrap:break-word;
}
.u9783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9783 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9784 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9782-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9782-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9782-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9782 {
  position:absolute;
  left:510px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9782_ann {
  position:absolute;
  left:803px;
  top:139px;
  width:1px;
  height:1px;
}
.u9786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9786 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9787 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9785-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9785-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9785-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9785 {
  position:absolute;
  left:810px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9785_ann {
  position:absolute;
  left:1103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9789 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9790 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9788-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9788-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9788-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9788 {
  position:absolute;
  left:1109px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9788_ann {
  position:absolute;
  left:1402px;
  top:139px;
  width:1px;
  height:1px;
}
.u9792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9792 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9793 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9791-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9791-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9791-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9791-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9791 {
  position:absolute;
  left:1409px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9791_ann {
  position:absolute;
  left:1802px;
  top:139px;
  width:1px;
  height:1px;
}
.u9795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9795 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9796 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9794-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9794-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9794-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9794-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9794 {
  position:absolute;
  left:2109px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9794_ann {
  position:absolute;
  left:2502px;
  top:139px;
  width:1px;
  height:1px;
}
.u9798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9798 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9799 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9797-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9797-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9797 {
  position:absolute;
  left:2510px;
  top:143px;
  width:200px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9797_ann {
  position:absolute;
  left:2703px;
  top:139px;
  width:1px;
  height:1px;
}
.u9801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9801 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9802 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9800-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9800-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9800-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9800-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9800 {
  position:absolute;
  left:2710px;
  top:143px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9800_ann {
  position:absolute;
  left:3103px;
  top:139px;
  width:1px;
  height:1px;
}
.u9804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9804 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9805 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9803-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9803-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9803-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9803 {
  position:absolute;
  left:1809px;
  top:143px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9803_ann {
  position:absolute;
  left:2102px;
  top:139px;
  width:1px;
  height:1px;
}
#u9806 {
  position:absolute;
  left:15px;
  top:341px;
  width:1833px;
  height:25px;
}
#u9806_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1833px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9807 {
  position:absolute;
  left:11px;
  top:81px;
  width:90px;
  height:25px;
}
#u9807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
