body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2299 {
  position:absolute;
  left:7px;
  top:8px;
  width:804px;
  height:154px;
}
#u2300 {
  position:absolute;
  left:2px;
  top:69px;
  width:800px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2301 {
  position:absolute;
  left:578px;
  top:129px;
  width:102px;
  height:25px;
}
#u2301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2302 {
  position:absolute;
  left:690px;
  top:129px;
  width:102px;
  height:25px;
}
#u2302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2303 {
  position:absolute;
  left:488px;
  top:94px;
  width:305px;
  height:25px;
}
#u2303_input {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2304 {
  position:absolute;
  left:288px;
  top:23px;
  width:104px;
  height:25px;
}
#u2304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2304_input:disabled {
  color:grayText;
}
#u2305 {
  position:absolute;
  left:686px;
  top:22px;
  width:107px;
  height:25px;
}
#u2305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2306 {
  position:absolute;
  left:198px;
  top:93px;
  width:96px;
  height:24px;
}
#u2306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2307 {
  position:absolute;
  left:83px;
  top:95px;
  width:105px;
  height:25px;
}
#u2307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2307_input:disabled {
  color:grayText;
}
#u2308 {
  position:absolute;
  left:287px;
  top:95px;
  width:105px;
  height:25px;
}
#u2308_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2308_input:disabled {
  color:grayText;
}
#u2309 {
  position:absolute;
  left:83px;
  top:22px;
  width:106px;
  height:25px;
}
#u2309_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2310 {
  position:absolute;
  left:548px;
  top:30px;
  width:64px;
  height:16px;
}
#u2311 {
  position:absolute;
  left:16px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u2310_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2312 {
  position:absolute;
  left:487px;
  top:22px;
  width:56px;
  height:25px;
}
#u2312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2313 {
  position:absolute;
  left:82px;
  top:59px;
  width:106px;
  height:25px;
}
#u2313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2313_input:disabled {
  color:grayText;
}
#u2314 {
  position:absolute;
  left:287px;
  top:59px;
  width:105px;
  height:25px;
}
#u2314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2314_input:disabled {
  color:grayText;
}
#u2315 {
  position:absolute;
  left:487px;
  top:59px;
  width:117px;
  height:25px;
}
#u2315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2316 {
  position:absolute;
  left:686px;
  top:59px;
  width:107px;
  height:25px;
}
#u2316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:right;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  position:absolute;
  left:27px;
  top:27px;
  width:62px;
  height:16px;
}
#u2318 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  position:absolute;
  left:13px;
  top:63px;
  width:76px;
  height:16px;
}
#u2320 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2321 {
  position:absolute;
  left:17px;
  top:99px;
  width:71px;
  height:16px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:245px;
  top:63px;
  width:48px;
  height:16px;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2325 {
  position:absolute;
  left:218px;
  top:27px;
  width:76px;
  height:16px;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2327 {
  position:absolute;
  left:446px;
  top:28px;
  width:48px;
  height:16px;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2329 {
  position:absolute;
  left:628px;
  top:28px;
  width:62px;
  height:16px;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  position:absolute;
  left:446px;
  top:98px;
  width:48px;
  height:16px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333 {
  position:absolute;
  left:418px;
  top:64px;
  width:76px;
  height:16px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  position:absolute;
  left:615px;
  top:64px;
  width:76px;
  height:16px;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2337 {
  position:absolute;
  left:7px;
  top:181px;
  width:626px;
  height:85px;
  font-size:16px;
}
#u2338 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
