body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:711px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9226 {
  position:absolute;
  left:11px;
  top:492px;
  width:569px;
  height:109px;
}
#u9227 {
  position:absolute;
  left:2px;
  top:46px;
  width:565px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9228 {
  position:absolute;
  left:10px;
  top:12px;
  width:490px;
  height:68px;
}
#u9229 {
  position:absolute;
  left:2px;
  top:26px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9230 {
  position:absolute;
  left:277px;
  top:48px;
  width:90px;
  height:25px;
}
#u9230_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9231 {
  position:absolute;
  left:18px;
  top:25px;
  width:71px;
  height:15px;
}
#u9232 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9233 {
  position:absolute;
  left:88px;
  top:20px;
  width:140px;
  height:22px;
}
#u9233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9233_input:disabled {
  color:grayText;
}
#u9234 {
  position:absolute;
  left:277px;
  top:20px;
  width:140px;
  height:22px;
}
#u9234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9234_input:disabled {
  color:grayText;
}
#u9235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9235 {
  position:absolute;
  left:238px;
  top:23px;
  width:29px;
  height:16px;
}
#u9236 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9237 {
  position:absolute;
  left:18px;
  top:56px;
  width:71px;
  height:15px;
}
#u9238 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9239 {
  position:absolute;
  left:88px;
  top:51px;
  width:140px;
  height:22px;
}
#u9239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9239_input:disabled {
  color:grayText;
}
.u9241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u9241 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u9242 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9240-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u9240 {
  position:absolute;
  left:11px;
  top:492px;
  width:700px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u9240_ann {
  position:absolute;
  left:704px;
  top:488px;
  width:1px;
  height:1px;
}
#u9243 {
  position:absolute;
  left:18px;
  top:638px;
  width:300px;
  height:25px;
}
#u9243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:343px;
}
#u9244 {
  position:absolute;
  left:4px;
  top:133px;
  width:577px;
  height:343px;
}
#u9245 {
  position:absolute;
  left:2px;
  top:164px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9246 {
  position:absolute;
  left:10px;
  top:90px;
  width:90px;
  height:25px;
}
#u9246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9247 {
  position:absolute;
  left:110px;
  top:90px;
  width:90px;
  height:25px;
}
#u9247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
