body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2313 {
  position:absolute;
  left:7px;
  top:8px;
  width:814px;
  height:147px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:66px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315 {
  position:absolute;
  left:581px;
  top:107px;
  width:102px;
  height:25px;
}
#u2315_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2316 {
  position:absolute;
  left:693px;
  top:107px;
  width:102px;
  height:25px;
}
#u2316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2317 {
  position:absolute;
  left:17px;
  top:26px;
  width:64px;
  height:25px;
}
#u2317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2318 {
  position:absolute;
  left:85px;
  top:28px;
  width:107px;
  height:22px;
}
#u2318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2318_input:disabled {
  color:grayText;
}
#u2319 {
  position:absolute;
  left:425px;
  top:26px;
  width:64px;
  height:25px;
}
#u2319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2320 {
  position:absolute;
  left:226px;
  top:27px;
  width:64px;
  height:25px;
}
#u2320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2321 {
  position:absolute;
  left:291px;
  top:29px;
  width:105px;
  height:22px;
}
#u2321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2321_input:disabled {
  color:grayText;
}
#u2322 {
  position:absolute;
  left:86px;
  top:61px;
  width:106px;
  height:25px;
}
#u2322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2323 {
  position:absolute;
  left:17px;
  top:62px;
  width:64px;
  height:25px;
}
#u2323_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2324 {
  position:absolute;
  left:226px;
  top:62px;
  width:64px;
  height:24px;
}
#u2324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2325 {
  position:absolute;
  left:290px;
  top:61px;
  width:106px;
  height:25px;
}
#u2325_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2326 {
  position:absolute;
  left:623px;
  top:60px;
  width:64px;
  height:25px;
}
#u2326_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2327 {
  position:absolute;
  left:690px;
  top:62px;
  width:105px;
  height:22px;
}
#u2327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2327_input:disabled {
  color:grayText;
}
#u2328 {
  position:absolute;
  left:623px;
  top:25px;
  width:66px;
  height:25px;
}
#u2328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2329 {
  position:absolute;
  left:689px;
  top:28px;
  width:106px;
  height:22px;
}
#u2329_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2329_input:disabled {
  color:grayText;
}
#u2330 {
  position:absolute;
  left:489px;
  top:26px;
  width:106px;
  height:25px;
}
#u2330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2331 {
  position:absolute;
  left:425px;
  top:61px;
  width:66px;
  height:25px;
}
#u2331_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2332 {
  position:absolute;
  left:489px;
  top:61px;
  width:106px;
  height:25px;
}
#u2332_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2333 {
  position:absolute;
  left:75px;
  top:33px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2334 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2335 {
  position:absolute;
  left:284px;
  top:35px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2336 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2337 {
  position:absolute;
  left:75px;
  top:69px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2338 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2339 {
  position:absolute;
  left:284px;
  top:68px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2340 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2341 {
  position:absolute;
  left:678px;
  top:32px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2342 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2343 {
  position:absolute;
  left:678px;
  top:67px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2344 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u2345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2345 {
  position:absolute;
  left:479px;
  top:34px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u2346 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
