body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4964 {
  position:absolute;
  left:10px;
  top:12px;
  width:90px;
  height:25px;
}
#u4964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4965 {
  position:absolute;
  left:210px;
  top:12px;
  width:90px;
  height:25px;
}
#u4965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4966 {
  position:absolute;
  left:110px;
  top:12px;
  width:90px;
  height:25px;
}
#u4966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:439px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:11px;
  top:40px;
  width:505px;
  height:439px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:212px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:351px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4969 {
  position:absolute;
  left:16px;
  top:46px;
  width:490px;
  height:351px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:168px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971 {
  position:absolute;
  left:22px;
  top:65px;
  width:71px;
  height:25px;
}
#u4971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4972 {
  position:absolute;
  left:95px;
  top:65px;
  width:111px;
  height:25px;
}
#u4972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4972_input:disabled {
  color:grayText;
}
#u4973 {
  position:absolute;
  left:22px;
  top:318px;
  width:71px;
  height:25px;
}
#u4973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4974 {
  position:absolute;
  left:95px;
  top:318px;
  width:111px;
  height:25px;
}
#u4974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4975 {
  position:absolute;
  left:95px;
  top:355px;
  width:403px;
  height:25px;
}
#u4975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4976 {
  position:absolute;
  left:22px;
  top:355px;
  width:71px;
  height:25px;
}
#u4976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
.u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u4979 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4977-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4977-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u4977-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u4977-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u4977-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u4977-6 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u4977-7 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u4977-8 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u4977 {
  position:absolute;
  left:14px;
  top:401px;
  width:500px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u4980 {
  position:absolute;
  left:22px;
  top:100px;
  width:104px;
  height:25px;
}
#u4980_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4981 {
  position:absolute;
  left:22px;
  top:134px;
  width:104px;
  height:25px;
}
#u4981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4982 {
  position:absolute;
  left:22px;
  top:170px;
  width:104px;
  height:25px;
}
#u4982_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4983 {
  position:absolute;
  left:22px;
  top:205px;
  width:104px;
  height:25px;
}
#u4983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4984 {
  position:absolute;
  left:22px;
  top:240px;
  width:104px;
  height:25px;
}
#u4984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4985 {
  position:absolute;
  left:22px;
  top:275px;
  width:104px;
  height:25px;
}
#u4985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4986 {
  position:absolute;
  left:119px;
  top:100px;
  width:87px;
  height:25px;
}
#u4986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4986_input:disabled {
  color:grayText;
}
#u4987 {
  position:absolute;
  left:222px;
  top:100px;
  width:71px;
  height:25px;
}
#u4987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4988 {
  position:absolute;
  left:285px;
  top:100px;
  width:54px;
  height:25px;
}
#u4988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4989 {
  position:absolute;
  left:349px;
  top:100px;
  width:84px;
  height:25px;
}
#u4989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4990 {
  position:absolute;
  left:425px;
  top:100px;
  width:73px;
  height:25px;
}
#u4990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4991 {
  position:absolute;
  left:119px;
  top:135px;
  width:87px;
  height:25px;
}
#u4991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4991_input:disabled {
  color:grayText;
}
#u4992 {
  position:absolute;
  left:222px;
  top:135px;
  width:71px;
  height:25px;
}
#u4992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4993 {
  position:absolute;
  left:285px;
  top:135px;
  width:54px;
  height:25px;
}
#u4993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4994 {
  position:absolute;
  left:349px;
  top:135px;
  width:84px;
  height:25px;
}
#u4994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4995 {
  position:absolute;
  left:425px;
  top:135px;
  width:73px;
  height:25px;
}
#u4995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4996 {
  position:absolute;
  left:119px;
  top:170px;
  width:87px;
  height:25px;
}
#u4996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4996_input:disabled {
  color:grayText;
}
#u4997 {
  position:absolute;
  left:222px;
  top:170px;
  width:71px;
  height:25px;
}
#u4997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4998 {
  position:absolute;
  left:285px;
  top:170px;
  width:54px;
  height:25px;
}
#u4998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4999 {
  position:absolute;
  left:349px;
  top:170px;
  width:84px;
  height:25px;
}
#u4999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5000 {
  position:absolute;
  left:425px;
  top:170px;
  width:73px;
  height:25px;
}
#u5000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5001 {
  position:absolute;
  left:119px;
  top:205px;
  width:87px;
  height:25px;
}
#u5001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5001_input:disabled {
  color:grayText;
}
#u5002 {
  position:absolute;
  left:222px;
  top:205px;
  width:71px;
  height:25px;
}
#u5002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5003 {
  position:absolute;
  left:285px;
  top:205px;
  width:54px;
  height:25px;
}
#u5003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5004 {
  position:absolute;
  left:349px;
  top:205px;
  width:84px;
  height:25px;
}
#u5004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5005 {
  position:absolute;
  left:425px;
  top:205px;
  width:73px;
  height:25px;
}
#u5005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5006 {
  position:absolute;
  left:119px;
  top:240px;
  width:87px;
  height:25px;
}
#u5006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5006_input:disabled {
  color:grayText;
}
#u5007 {
  position:absolute;
  left:222px;
  top:240px;
  width:71px;
  height:25px;
}
#u5007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5008 {
  position:absolute;
  left:285px;
  top:240px;
  width:54px;
  height:25px;
}
#u5008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5009 {
  position:absolute;
  left:349px;
  top:240px;
  width:84px;
  height:25px;
}
#u5009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5010 {
  position:absolute;
  left:425px;
  top:240px;
  width:73px;
  height:25px;
}
#u5010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5011 {
  position:absolute;
  left:119px;
  top:276px;
  width:87px;
  height:25px;
}
#u5011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5011_input:disabled {
  color:grayText;
}
#u5012 {
  position:absolute;
  left:222px;
  top:276px;
  width:71px;
  height:25px;
}
#u5012_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5013 {
  position:absolute;
  left:285px;
  top:276px;
  width:54px;
  height:25px;
}
#u5013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5014 {
  position:absolute;
  left:349px;
  top:276px;
  width:84px;
  height:25px;
}
#u5014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5015 {
  position:absolute;
  left:425px;
  top:276px;
  width:73px;
  height:25px;
}
#u5015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u5016 {
  position:absolute;
  left:338px;
  top:432px;
  width:59px;
  height:27px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:145px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5018 {
  position:absolute;
  left:14px;
  top:489px;
  width:1006px;
  height:145px;
  font-size:16px;
}
#u5019 {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  white-space:nowrap;
}
#u5020 {
  position:absolute;
  left:334px;
  top:65px;
  width:99px;
  height:25px;
}
#u5020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5021 {
  position:absolute;
  left:427px;
  top:65px;
  width:71px;
  height:25px;
}
#u5021_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5022 {
  position:absolute;
  left:222px;
  top:318px;
  width:71px;
  height:25px;
}
#u5022_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5023 {
  position:absolute;
  left:295px;
  top:318px;
  width:203px;
  height:25px;
}
#u5023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
