body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:662px;
}
#u1951 {
  position:absolute;
  left:233px;
  top:-61px;
  width:711px;
  height:662px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:323px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:3px;
  top:3px;
  width:230px;
  height:36px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:7px;
  top:12px;
  width:57px;
  height:15px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1958 {
  position:absolute;
  left:60px;
  top:8px;
  width:47px;
  height:25px;
}
#u1958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:111px;
  top:13px;
  width:57px;
  height:15px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1961 {
  position:absolute;
  left:164px;
  top:8px;
  width:65px;
  height:25px;
}
#u1961_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1962 {
  position:absolute;
  left:3px;
  top:49px;
  width:230px;
  height:552px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:268px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964 {
  position:absolute;
  left:3px;
  top:48px;
  width:230px;
  height:30px;
}
#u1964_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:236px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:77px;
  top:0px;
  width:77px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:154px;
  top:0px;
  width:76px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:3px;
  top:107px;
  width:230px;
  height:280px;
}
#u1972_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:236px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:285px;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:40px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1977 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:80px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1979 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:120px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1981 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:160px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:200px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:240px;
  width:230px;
  height:40px;
  text-align:left;
}
#u1987 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
  background:inherit;
  background-color:rgba(235, 241, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1988 {
  position:absolute;
  left:5px;
  top:78px;
  width:228px;
  height:29px;
  font-size:18px;
}
#u1989 {
  position:absolute;
  left:0px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:3px;
  top:611px;
  width:998px;
  height:28px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u1992 {
  position:absolute;
  left:645px;
  top:483px;
  width:49px;
  height:47px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1994 {
  position:absolute;
  left:233px;
  top:5px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
