body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:662px;
}
#u3680 {
  position:absolute;
  left:233px;
  top:-61px;
  width:711px;
  height:662px;
}
#u3681 {
  position:absolute;
  left:2px;
  top:323px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3682 {
  position:absolute;
  left:3px;
  top:3px;
  width:230px;
  height:36px;
}
#u3683 {
  position:absolute;
  left:2px;
  top:10px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3685 {
  position:absolute;
  left:7px;
  top:12px;
  width:57px;
  height:15px;
}
#u3686 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3687 {
  position:absolute;
  left:60px;
  top:8px;
  width:47px;
  height:25px;
}
#u3687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3688 {
  position:absolute;
  left:111px;
  top:13px;
  width:57px;
  height:15px;
}
#u3689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3690 {
  position:absolute;
  left:164px;
  top:8px;
  width:65px;
  height:25px;
}
#u3690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3691 {
  position:absolute;
  left:3px;
  top:49px;
  width:230px;
  height:552px;
}
#u3692 {
  position:absolute;
  left:2px;
  top:268px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693 {
  position:absolute;
  left:3px;
  top:48px;
  width:230px;
  height:30px;
}
#u3693_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:236px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3694 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:35px;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3695 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3697 {
  position:absolute;
  left:77px;
  top:0px;
  width:77px;
  height:30px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u3699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3699 {
  position:absolute;
  left:154px;
  top:0px;
  width:76px;
  height:30px;
}
#u3700 {
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  word-wrap:break-word;
}
#u3701 {
  position:absolute;
  left:3px;
  top:107px;
  width:230px;
  height:280px;
}
#u3701_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:236px;
  height:286px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3702 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:285px;
}
#u3703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3703 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3704 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u3705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3705 {
  position:absolute;
  left:0px;
  top:40px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3706 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u3707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3707 {
  position:absolute;
  left:0px;
  top:80px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3708 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3709 {
  position:absolute;
  left:0px;
  top:120px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3710 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u3711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3711 {
  position:absolute;
  left:0px;
  top:160px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3712 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3713 {
  position:absolute;
  left:0px;
  top:200px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3714 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u3715 {
  position:absolute;
  left:0px;
  top:240px;
  width:230px;
  height:40px;
  text-align:left;
}
#u3716 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
  background:inherit;
  background-color:rgba(235, 241, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3717 {
  position:absolute;
  left:5px;
  top:78px;
  width:228px;
  height:29px;
  font-size:18px;
}
#u3718 {
  position:absolute;
  left:0px;
  top:4px;
  width:228px;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3719 {
  position:absolute;
  left:3px;
  top:611px;
  width:998px;
  height:28px;
}
#u3720 {
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  word-wrap:break-word;
}
#u3721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u3721 {
  position:absolute;
  left:645px;
  top:483px;
  width:49px;
  height:47px;
}
#u3722 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3723 {
  position:absolute;
  left:233px;
  top:5px;
  width:96px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3724 {
  position:absolute;
  left:2px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
