body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2360 {
  position:absolute;
  left:11px;
  top:445px;
  width:903px;
  height:58px;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  word-wrap:break-word;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2362 {
  position:absolute;
  left:11px;
  top:10px;
  width:1077px;
  height:425px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:204px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2364 {
  position:absolute;
  left:17px;
  top:22px;
  width:71px;
  height:16px;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2366 {
  position:absolute;
  left:84px;
  top:17px;
  width:87px;
  height:25px;
}
#u2366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u2367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2368 {
  position:absolute;
  left:526px;
  top:20px;
  width:57px;
  height:15px;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2370 {
  position:absolute;
  left:578px;
  top:17px;
  width:80px;
  height:22px;
}
#u2370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2370_input:disabled {
  color:grayText;
}
#u2371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2371 {
  position:absolute;
  left:17px;
  top:75px;
  width:57px;
  height:16px;
}
#u2372 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2373 {
  position:absolute;
  left:69px;
  top:71px;
  width:72px;
  height:25px;
}
#u2373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2374 {
  position:absolute;
  left:528px;
  top:50px;
  width:70px;
  height:16px;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u2376 {
  position:absolute;
  left:598px;
  top:46px;
  width:60px;
  height:25px;
}
#u2376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:661px;
  top:50px;
  width:101px;
  height:16px;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2379 {
  position:absolute;
  left:757px;
  top:46px;
  width:67px;
  height:25px;
}
#u2379_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  position:absolute;
  left:833px;
  top:52px;
  width:97px;
  height:16px;
}
#u2381 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2382 {
  position:absolute;
  left:925px;
  top:48px;
  width:70px;
  height:25px;
}
#u2382_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  position:absolute;
  left:177px;
  top:22px;
  width:71px;
  height:15px;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2385 {
  position:absolute;
  left:247px;
  top:17px;
  width:138px;
  height:22px;
}
#u2385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
}
#u2385_input:disabled {
  color:grayText;
}
#u2386 {
  position:absolute;
  left:76px;
  top:376px;
  width:920px;
  height:24px;
}
#u2386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2387 {
  position:absolute;
  left:17px;
  top:376px;
  width:59px;
  height:20px;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2389 {
  position:absolute;
  left:693px;
  top:408px;
  width:140px;
  height:25px;
}
#u2389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2390 {
  position:absolute;
  left:856px;
  top:408px;
  width:140px;
  height:25px;
}
#u2390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2391 {
  position:absolute;
  left:17px;
  top:121px;
  width:500px;
  height:245px;
}
#u2392 {
  position:absolute;
  left:2px;
  top:114px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:17px;
  top:105px;
  width:155px;
  height:16px;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2395 {
  position:absolute;
  left:580px;
  top:105px;
  width:85px;
  height:16px;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2397 {
  position:absolute;
  left:517px;
  top:211px;
  width:62px;
  height:25px;
}
#u2397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2398 {
  position:absolute;
  left:517px;
  top:255px;
  width:62px;
  height:25px;
}
#u2398_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:245px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  position:absolute;
  left:579px;
  top:121px;
  width:500px;
  height:245px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:114px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  position:absolute;
  left:17px;
  top:49px;
  width:71px;
  height:15px;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2403 {
  position:absolute;
  left:84px;
  top:46px;
  width:87px;
  height:22px;
}
#u2403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2403_input:disabled {
  color:grayText;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2404 {
  position:absolute;
  left:395px;
  top:21px;
  width:57px;
  height:15px;
}
#u2405 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2406 {
  position:absolute;
  left:448px;
  top:17px;
  width:72px;
  height:22px;
}
#u2406_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2406_input:disabled {
  color:grayText;
}
#u2407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2407 {
  position:absolute;
  left:396px;
  top:50px;
  width:43px;
  height:15px;
}
#u2408 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2409 {
  position:absolute;
  left:435px;
  top:46px;
  width:85px;
  height:25px;
}
#u2409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  position:absolute;
  left:662px;
  top:21px;
  width:101px;
  height:16px;
}
#u2411 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2412 {
  position:absolute;
  left:758px;
  top:16px;
  width:67px;
  height:25px;
}
#u2412_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  position:absolute;
  left:832px;
  top:20px;
  width:97px;
  height:16px;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2415 {
  position:absolute;
  left:925px;
  top:16px;
  width:70px;
  height:25px;
}
#u2415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
.u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2417 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u2418 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2416-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2416-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2416-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2416-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2416-6 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2416-7 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2416-8 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2416-9 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2416-10 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u2416-11 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2416-12 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2416-13 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2416-14 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u2416 {
  position:absolute;
  left:17px;
  top:121px;
  width:500px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2419 {
  position:absolute;
  left:31px;
  top:128px;
  width:15px;
  height:16px;
}
#u2420 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
.u2422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2422 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u2423 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2421-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2421-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2421-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2421-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2421-6 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2421-7 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2421-8 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2421-9 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2421-10 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u2421-11 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2421-12 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2421-13 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2421-14 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u2421 {
  position:absolute;
  left:579px;
  top:121px;
  width:500px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2424 {
  position:absolute;
  left:593px;
  top:128px;
  width:15px;
  height:16px;
}
#u2425 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426 {
  position:absolute;
  left:248px;
  top:49px;
  width:53px;
  height:16px;
}
#u2427 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2426_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2428 {
  position:absolute;
  left:318px;
  top:49px;
  width:50px;
  height:16px;
}
#u2429 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2428_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2430 {
  position:absolute;
  left:177px;
  top:48px;
  width:71px;
  height:15px;
}
#u2431 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  position:absolute;
  left:151px;
  top:76px;
  width:57px;
  height:16px;
}
#u2433 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2434 {
  position:absolute;
  left:203px;
  top:71px;
  width:72px;
  height:25px;
}
#u2434_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
