body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u975 {
  position:absolute;
  left:10px;
  top:42px;
  width:823px;
  height:190px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:190px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u976 {
  position:absolute;
  left:10px;
  top:12px;
  width:90px;
  height:25px;
}
#u976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u977 {
  position:absolute;
  left:112px;
  top:12px;
  width:90px;
  height:25px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u978 {
  position:absolute;
  left:212px;
  top:12px;
  width:90px;
  height:25px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
.u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u981 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u979-9 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u979-10 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u979-11 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u979 {
  position:absolute;
  left:17px;
  top:163px;
  width:800px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:10px;
  top:241px;
  width:887px;
  height:75px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:17px;
  top:48px;
  width:799px;
  height:105px;
}
#u984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:105px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u985 {
  position:absolute;
  left:25px;
  top:59px;
  width:64px;
  height:25px;
}
#u985_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u986 {
  position:absolute;
  left:93px;
  top:61px;
  width:107px;
  height:22px;
}
#u986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u986_input:disabled {
  color:grayText;
}
#u987 {
  position:absolute;
  left:433px;
  top:59px;
  width:64px;
  height:25px;
}
#u987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u988 {
  position:absolute;
  left:234px;
  top:60px;
  width:64px;
  height:25px;
}
#u988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u989 {
  position:absolute;
  left:299px;
  top:62px;
  width:105px;
  height:22px;
}
#u989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u989_input:disabled {
  color:grayText;
}
#u990 {
  position:absolute;
  left:94px;
  top:94px;
  width:106px;
  height:25px;
}
#u990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u991 {
  position:absolute;
  left:25px;
  top:95px;
  width:64px;
  height:25px;
}
#u991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u992 {
  position:absolute;
  left:234px;
  top:95px;
  width:64px;
  height:24px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u993 {
  position:absolute;
  left:298px;
  top:94px;
  width:106px;
  height:25px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u994 {
  position:absolute;
  left:631px;
  top:93px;
  width:64px;
  height:25px;
}
#u994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u995 {
  position:absolute;
  left:698px;
  top:95px;
  width:105px;
  height:22px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u995_input:disabled {
  color:grayText;
}
#u996 {
  position:absolute;
  left:631px;
  top:58px;
  width:66px;
  height:25px;
}
#u996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u997 {
  position:absolute;
  left:697px;
  top:61px;
  width:106px;
  height:22px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u997_input:disabled {
  color:grayText;
}
#u998 {
  position:absolute;
  left:497px;
  top:59px;
  width:106px;
  height:25px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u999 {
  position:absolute;
  left:433px;
  top:94px;
  width:66px;
  height:25px;
}
#u999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1000 {
  position:absolute;
  left:497px;
  top:94px;
  width:106px;
  height:25px;
}
#u1000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u1001 {
  position:absolute;
  left:238px;
  top:195px;
  width:59px;
  height:27px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1003 {
  position:absolute;
  left:83px;
  top:66px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1004 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1005 {
  position:absolute;
  left:292px;
  top:68px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1006 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1007 {
  position:absolute;
  left:83px;
  top:102px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1008 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1009 {
  position:absolute;
  left:292px;
  top:101px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1010 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1011 {
  position:absolute;
  left:686px;
  top:65px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1012 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1013 {
  position:absolute;
  left:686px;
  top:100px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1014 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1015 {
  position:absolute;
  left:487px;
  top:67px;
  width:3px;
  height:15px;
  color:#FF0000;
}
#u1016 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  word-wrap:break-word;
}
