body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2296 {
  position:absolute;
  left:110px;
  top:11px;
  width:90px;
  height:25px;
}
#u2296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2297 {
  position:absolute;
  left:10px;
  top:11px;
  width:90px;
  height:25px;
}
#u2297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
.u2299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u2300 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-6 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-7 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-8 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u2298-9 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2298-10 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2298-11 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2298 {
  position:absolute;
  left:10px;
  top:109px;
  width:800px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2301 {
  position:absolute;
  left:10px;
  top:241px;
  width:887px;
  height:75px;
}
#u2302 {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  word-wrap:break-word;
}
#u2303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:27px;
}
#u2303 {
  position:absolute;
  left:231px;
  top:141px;
  width:59px;
  height:27px;
}
#u2304 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2305 {
  position:absolute;
  left:10px;
  top:46px;
  width:801px;
  height:53px;
}
#u2306 {
  position:absolute;
  left:2px;
  top:18px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2307 {
  position:absolute;
  left:279px;
  top:60px;
  width:121px;
  height:25px;
}
#u2307_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2308 {
  position:absolute;
  left:232px;
  top:64px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2310 {
  position:absolute;
  left:82px;
  top:58px;
  width:114px;
  height:25px;
}
#u2310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u2311 {
  position:absolute;
  left:26px;
  top:63px;
  width:64px;
  height:16px;
  color:#1E1E1E;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
