body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8812 {
  position:absolute;
  left:10px;
  top:120px;
  width:590px;
  height:109px;
}
#u8813 {
  position:absolute;
  left:2px;
  top:46px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8814 {
  position:absolute;
  left:10px;
  top:39px;
  width:590px;
  height:68px;
}
#u8815 {
  position:absolute;
  left:2px;
  top:26px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8816 {
  position:absolute;
  left:10px;
  top:12px;
  width:90px;
  height:25px;
}
#u8816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8817 {
  position:absolute;
  left:18px;
  top:52px;
  width:71px;
  height:15px;
}
#u8818 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8819 {
  position:absolute;
  left:88px;
  top:47px;
  width:140px;
  height:22px;
}
#u8819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8819_input:disabled {
  color:grayText;
}
#u8820 {
  position:absolute;
  left:277px;
  top:47px;
  width:140px;
  height:22px;
}
#u8820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8820_input:disabled {
  color:grayText;
}
#u8821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8821 {
  position:absolute;
  left:238px;
  top:50px;
  width:29px;
  height:16px;
}
#u8822 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8823 {
  position:absolute;
  left:110px;
  top:12px;
  width:90px;
  height:25px;
}
#u8823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8824 {
  position:absolute;
  left:18px;
  top:83px;
  width:71px;
  height:15px;
}
#u8825 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8826 {
  position:absolute;
  left:88px;
  top:78px;
  width:140px;
  height:22px;
}
#u8826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8826_input:disabled {
  color:grayText;
}
.u8828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8828 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u8829 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8827-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8827-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u8827-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u8827-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u8827-5 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u8827 {
  position:absolute;
  left:10px;
  top:120px;
  width:500px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8827_ann {
  position:absolute;
  left:503px;
  top:116px;
  width:1px;
  height:1px;
}
#u8830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u8830 {
  position:absolute;
  left:24px;
  top:127px;
  width:15px;
  height:16px;
}
#u8831 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8832 {
  position:absolute;
  left:10px;
  top:397px;
  width:858px;
  height:144px;
}
#u8833 {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  word-wrap:break-word;
}
#u8834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8834 {
  position:absolute;
  left:10px;
  top:210px;
  width:190px;
  height:19px;
}
#u8835 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u8836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8836 {
  position:absolute;
  left:10px;
  top:278px;
  width:590px;
  height:109px;
}
#u8837 {
  position:absolute;
  left:2px;
  top:46px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u8839 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
.u8840 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8838-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8838-2 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u8838-3 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u8838-4 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u8838 {
  position:absolute;
  left:10px;
  top:278px;
  width:400px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u8838_ann {
  position:absolute;
  left:403px;
  top:274px;
  width:1px;
  height:1px;
}
#u8841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8841 {
  position:absolute;
  left:10px;
  top:261px;
  width:43px;
  height:15px;
}
#u8842 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8843 {
  position:absolute;
  left:210px;
  top:12px;
  width:90px;
  height:25px;
}
#u8843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8844 {
  position:absolute;
  left:310px;
  top:12px;
  width:90px;
  height:25px;
}
#u8844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u8845 {
  position:absolute;
  left:410px;
  top:12px;
  width:90px;
  height:25px;
}
#u8845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
