body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u217 {
  position:absolute;
  left:36px;
  top:15px;
  width:98px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u219 {
  position:absolute;
  left:36px;
  top:96px;
  width:144px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u221 {
  position:absolute;
  left:36px;
  top:175px;
  width:184px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u223 {
  position:absolute;
  left:36px;
  top:262px;
  width:184px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u225 {
  position:absolute;
  left:51px;
  top:55px;
  width:343px;
  height:22px;
  font-size:18px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u227 {
  position:absolute;
  left:51px;
  top:218px;
  width:235px;
  height:22px;
  font-size:18px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u229 {
  position:absolute;
  left:51px;
  top:132px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u231 {
  position:absolute;
  left:51px;
  top:303px;
  width:319px;
  height:66px;
  font-size:18px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  white-space:nowrap;
}
