body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:690px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2362 {
  position:absolute;
  left:12px;
  top:10px;
  width:678px;
  height:169px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:76px;
  width:674px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364 {
  position:absolute;
  left:464px;
  top:145px;
  width:102px;
  height:25px;
}
#u2364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2365 {
  position:absolute;
  left:576px;
  top:145px;
  width:102px;
  height:25px;
}
#u2365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u2366 {
  position:absolute;
  left:257px;
  top:23px;
  width:51px;
  height:25px;
}
#u2366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2367 {
  position:absolute;
  left:590px;
  top:23px;
  width:88px;
  height:22px;
}
#u2367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2367_input:disabled {
  color:grayText;
}
#u2368 {
  position:absolute;
  left:381px;
  top:55px;
  width:146px;
  height:25px;
}
#u2368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2369 {
  position:absolute;
  left:257px;
  top:58px;
  width:51px;
  height:22px;
}
#u2369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2369_input:disabled {
  color:grayText;
}
#u2370 {
  position:absolute;
  left:592px;
  top:58px;
  width:86px;
  height:22px;
}
#u2370_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2370_input:disabled {
  color:grayText;
}
#u2371 {
  position:absolute;
  left:381px;
  top:21px;
  width:145px;
  height:25px;
}
#u2371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2372 {
  position:absolute;
  left:82px;
  top:59px;
  width:98px;
  height:22px;
}
#u2372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2372_input:disabled {
  color:grayText;
}
#u2373 {
  position:absolute;
  left:82px;
  top:95px;
  width:596px;
  height:25px;
}
#u2373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2374 {
  position:absolute;
  left:38px;
  top:24px;
  width:52px;
  height:23px;
  text-align:right;
}
#u2375 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u2376 {
  position:absolute;
  left:82px;
  top:24px;
  width:95px;
  height:25px;
}
#u2376_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:17px;
  top:62px;
  width:72px;
  height:16px;
}
#u2378 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2379 {
  position:absolute;
  left:330px;
  top:27px;
  width:59px;
  height:16px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2381 {
  position:absolute;
  left:192px;
  top:62px;
  width:72px;
  height:16px;
}
#u2382 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2383 {
  position:absolute;
  left:219px;
  top:28px;
  width:46px;
  height:16px;
}
#u2384 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385 {
  position:absolute;
  left:46px;
  top:100px;
  width:43px;
  height:16px;
}
#u2386 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2387 {
  position:absolute;
  left:541px;
  top:62px;
  width:58px;
  height:16px;
  font-size:13px;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2389 {
  position:absolute;
  left:322px;
  top:63px;
  width:66px;
  height:16px;
  font-size:13px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2391 {
  position:absolute;
  left:552px;
  top:26px;
  width:45px;
  height:16px;
  font-size:13px;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2393 {
  position:absolute;
  left:12px;
  top:214px;
  width:626px;
  height:121px;
  font-size:16px;
  color:#000000;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  word-wrap:break-word;
}
